a.bookmark,
a.unbookmark {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: -999px;
  background: url("../../icons/star.png") no-repeat;
}

a.bookmark { background-position: 0 -16px; }
a.unbookmark { background-position: 0 0; }
