section.comments { }

  section.comments > ul { }

    section.comments > ul > li {
      margin-bottom: 0.5em;
      display: block;
    }

.comment {
}

  .comment > .user {
    float: right;
  }
  
    .comment.mine > .user {
      float: left;
    }

  .comment > .text {
    position: relative;
    line-height: 1.3;
    margin: 0 62px;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 5px;
    padding: 0.5em;
  }

    .comment > .text > .bubble-arrow {
      background: url("../img/bubble-arrow-right.png") no-repeat;
      position: absolute;
      width: 8px;
      height: 14px;
      top: 1em;
      right: -8px;
    }

    .comment.mine > .text > .bubble-arrow {
      background: url("../img/bubble-arrow-left.png") no-repeat;
      right: auto;
      left: -8px;
    }

  .comment.create { }

    .comment.create > .text { }

      .comment.create > .text > form { }

        .comment.create > .text > form > div.field.text {
          margin-bottom: 0.5em;
        }

          .comment.create > .text > form > div.field.text > div.label {
            display: none;
          }

        .comment.create > .text > form > .actions { }

          .comment.create > .text > form > .actions > input[type=submit] {
            padding: 0.5em;
          }