/*= includes/events.scss */

/* Another completely arbitrary constant. */
$event-list-radius: 5px;


section.event-list {
  box-shadow: 0 0 5px #ccc;
  border-radius: 5px;

  > article.event {
    margin: 0;
    padding: ($line-height / 2) (($spacing / 2) - $pinstripe-width) (($line-height / 2) - $pinstripe-width);
    padding-right: 0;

    @include vertical-gradient(#fff, #f8f8f8);
    border-bottom: 1px dotted #ccc;

    /* Each event must be at least avatar height (48px) + vertical borders (4px). */
    min-height: 52px;

    border-left: $pinstripe;
    border-right: $pinstripe;

    &:first-child {
      @include border-radius($event-list-radius $event-list-radius 0 0);

      /* The border-top must be attached here (to the first event in the list),
      |* rather than on the parent, to avoid being overlapped by the background.
      |* Yank the section upwards to maintain the vertical rhythm. */
      margin-top: - $pinstripe-width;
      border-top: $pinstripe;
    }

    &:last-child {
      @include border-radius(0 0 $event-list-radius $event-list-radius);
      border-bottom: $pinstripe;
    }

    &:hover {
      @include vertical-gradient(#fff, #ffe);
    }

    /*&.invalid {
      font-family: monospace;
      border-color: #fbb;
      background: #fee;
    }*/

    > article.user {
      float: left;

      span {
        display: none;
      }

      img {
        @include border-radius($avatar-inner-radius);
      }
    }

    p, blockquote {
      margin: 0;
    }

    blockquote {
      font-family: $font-family-serif;
      
      a {
        text-decoration: none;
      }
    }

    > div {
      border-right: 4px solid #eee;
      padding: 0 ($spacing / 2) 0 ($spacing / 2);
      min-height: $line-height * 3;
      margin-left: 52px;

      > p {
        white-space: nowrap;
        color: #999;

        &.summary {
          font-size: $font-size * 0.8;
          max-height: $line-height;

          > span {
            background: #ffd;
            color: #666;
          }
        }
      }
    }
  }

  article.event.hunch-created                > div { border-right-color: #ffc; }
  article.event.evidence-attached            > div { border-right-color: #cfc; }
  article.event.user-invited-to-hunch        > div { border-right-color: #fcc; }
  article.event.comment-posted-hunchevidence > div { border-right-color: #cff; }
}
