/*= includes/evidence.scss */

section.short-list.evidence {
  @extend section.bubble-list;
}

article.evidence.full {
  text-align: center;

  div.embed {
    img, object, embed {
      @include border-radius(5px);
      @include box-shadow(1px 1px 5px #ccc);
      margin: 0 auto;
    }
  }

  h3 {
    font-size: $font-size * 2;
    line-height: $line-height * 2;
    margin: $line-height 0;
  }

  section.desc {
    font-family: $font-family-serif;
    color: #999;
  }
}
