/*= includes/evidence-widget.scss */

.evidence-widget {
  section.short-list.evidence {
    article {
      position: relative;
      margin-right: ($spacing * 1.5);

      div.delete {
        position: absolute;
        top: ($line-height / 2);
        bottom: ($line-height / 2);
        right: 0 - ($spacing * 1.5);
        width: $spacing;
        text-align: center;
        background: #eee;
        cursor: pointer;
        color: #999;

        &:hover {
          background: #f66;
          color: #fff;
        }
      }
    }
  }
}

input.with-evidence-search-results {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.evidence-search-results {
  @include border-radius(0 0 4px 4px);

  padding: ($line-height - $pinstripe-width) $spacing $line-height;
  border: $pinstripe-width solid #ccc;
  border-top: none;
  background: #f8f8f8 url("../../img/bg2.png");

  article.evidence {
    cursor: pointer;

    &:hover {
      border-color: highlight;
      background: #f0f8ff;

      ul.stats {
        border-top-color: highlight;
        background: none;
      }
    }
  }
}
