section.hunch-list { }

  section.hunch-list > article.hunch {
    position: relative;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px #ccc;
    -moz-box-shadow: 1px 1px 5px #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 1em;
    padding: 1em;
    color: #999;
  }

  section.hunch-list > article.hunch:last-child {
    margin-bottom: 0;
  }

    section.hunch-list > article.hunch > div.left > h2 {
      font-size: 125%;
      font-weight: bold;
      margin-bottom: 0.4em;
      color: #333;
    }

      section.hunch-list > article.hunch > div.left > h2 > a {
        text-decoration: none;
      }

    section.hunch-list > article.hunch > div.left > section.desc {
      margin-bottom: 0.5em;
    }

    section.hunch-list > article.hunch > div.left > ul.stats {
      margin-left: 1.5em;
      line-height: 1.3;
    }