/*= includes/location-widget.scss */

.loc-widget {

  ul.type {
    float: right;
    
    /* Yank the type selector up one line, to line up with the field label. */
    margin-top: 0 - $line-height;

    li {
      display: block;
      float: left;
      color: #999;
      font-weight: bold;
      border-left: 1px dotted #ccc;
      margin-left: $spacing / 2;
      padding-left: $spacing / 2;
      cursor: pointer;

      &.active {
        color: #000;
      }

      &:first-child {
        border-left: none;
        margin-left: 0;
        padding-left: 0;
      }
    }
  }

  .hidden {
    display: none;
  }

  .latlng, .map {
    background: #f8f8f8 url("../../img/bg2.png");
    clear: both;
  }

  .latlng {
    padding: 0 ($spacing / 2);
    @include clear-floats;

    .widgets {
      padding-left: ($spacing / 2);
    }

    input,
    label {
      display: block;
      float: left;
      clear: none;
      width: 50%;
    }

    label {
      text-align: center;
      color: #999;
    }

    /* yank the first widget and label (latitude) to the left (over the
    |* padding-left of the parent div) to allow the lat+lng columns to be of
    |* equal width, with a 1em gap separating them. */
    .lat {
      margin-left: 0 - ($spacing / 2);
      margin-right: ($spacing / 2);
    }
  }

  .map {
    height: $line-height * 15;

    &.error {
      text-align: center;
      background: #f8f8f8;
      color: #999;

      > div {
        padding-top: $line-height * 7;
      }
    }
  }
}
