/*= includes/tags.scss */

$tag-bg-width: 15px;
$tag-bg-height: 15px;
$tag-bg-offset: (($line-height - $tag-bg-height) / 2);


ul.tags {
  @include clear-floats;

  /* Yank the element back onto the vertical rhythm, to compensate for the
  |* pinstripe at the top of every tag. */
  margin-top: 0 - $pinstripe-width;

  li {
    display: block;
    margin-left: 0;
    float: left;

    font-size: $font-size * 0.75;
    line-height: $line-height - $pinstripe-width;

    border: $pinstripe-width $pinstripe-style #ddd;
    background: #eee url("../../icons/tag.png") no-repeat $tag-bg-offset 50%;
    
    /* Reserve space for the tag image, with equal spacing on each side. */
    padding-left: $tag-bg-width + ($tag-bg-offset * 2);
    
    /* Curve the right corners enough to meet exactly in the middle. */
    @include border-radius(1px ($line-height / 2) ($line-height / 2) 1px);
    padding-right: ($line-height / 4);

    /* Space out tags arbitarily. */
    margin-right: ($spacing / 2);

    a {
      text-decoration: none;
    }
  }
}
