/*= includes/token-input.scss */

ul.token-input-list {
  @extend .form-widget;
  /*padding: 0.75em 0.25em 0.25em 0.75em !important;*/
  padding: (($line-height / 2) - ($pinstripe-width * 2)) ($spacing / 4) 0;
  cursor: text;
}

  /* Hidden input */
  ul.token-input-list li input {
    @include box-shadow(none);
    border: none !important;
    padding: 0 !important;
    /*margin-bottom: 0.5em;*/
    margin: 0;
  }

li.token-input-input-token {
  font-size: $font-size * 0.75;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

li.token-input-token {
  @include border-radius(3px);
  display: inline-block;
  border: 1px solid #bbb;
  font-size: $font-size * 0.75;
  margin: 0 ($spacing / 4) (($line-height / 2) - $pinstripe-width);
  padding-left: $spacing / 4;
  background-color: #fff;
  cursor: default;
  white-space: nowrap;
}

  li.token-input-token p {
    display: inline-block;
    margin: 0;
  }

  /* Added to .token-input-token when selected */
  li.token-input-selected-token {
    background-color: highlight;
    border-color: highlight;
    color: highlighttext;
  }

  /* The cross to remove a token */
  li.token-input-token > span {
    display: inline-block;
    padding: 0 ($spacing / 4);
    cursor: pointer;
    color: #999;
  }

/* The dropdown containing search results. */
div.token-input-dropdown {
  @include box-shadow(px 2px 5px #333);
  @include border-radius(5px);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: ($line-height / 4) ($spacing / 4);
  margin-top: 1px;
}

  div.token-input-dropdown ul {
    overflow-x: hidden;
  }

  /* Individual search results */
  div.token-input-dropdown li {
    list-style-type: none;
    padding: ($line-height / 4) ($spacing / 4);
    margin: 0;
    cursor: pointer;
  }

    /* Highlighed search terms within a result */
    div.token-input-dropdown li b {
      font-weight: normal;
    }

  /* Selected search results */
  div.token-input-dropdown li.token-input-selected-dropdown-item {
    background-color: highlight;
    color: highlighttext;
  }

  /* Non-result messages within the dropdown */
  div.token-input-dropdown p {
    text-align: center;
    font-style: italic;
    color: #999;
  }
