/*= includes/user.scss */

section.short-list.user {
  height: $line-height * 4;

  article.user {
    margin-right: 0.5em;
    float: left;
  }
}

article.user {
  width: $avatar-width + ($avatar-spacing * 2);

  a {
    display: block;
    @include border-radius($avatar-outer-radius);
    @include box-shadow(0 0 5px #999);
    background: #333;
    text-decoration: none;
    padding: $avatar-spacing;

    img {
      @include border-radius($avatar-inner-radius $avatar-inner-radius 0 0);
      background: #666;
    }

    span {
      display: block;
      text-align: center;
      color: #fff;

      /* Show only the first line of the user's name. Usually, this will be
      |* their first name or username. */
      padding: 0 $avatar-spacing;
      margin-top: $avatar-spacing;
      font-size: $font-size * 0.75;
      line-height: $line-height;
      max-height: $line-height;
      overflow: hidden;
    }
  }

  &:hover > a {
    background: #000;
  }
}
