{% extends "base.html" %}
{% load partial_tags %}

{% block body_id %}dashboard{% endblock %}

{% block header %}
  {{ block.super }}
  <h1>Dashboard</h1>
{% endblock %}

{% block content %}
  <div class="left">
    <h2>Latest <span>Activity</span></h2>

    {% if events.object_list.count %}
      {% include "includes/events/list.html" with event_list=events.object_list %}
    {% else %}
      <div class="empty-list">
        Nothing has happened lately.
      </div>
    {% endif %}
  </div>

  <div class="right">
    <h2>Your <span>Hunches</span></h2>

    {% if hunches.object_list %}
      {% include "includes/hunches/list.html" with hunch_list=hunches.object_list %}
    {% else %}
      <div class="empty-list">
        You don't have any hunches.
      </div>
    {% endif %}

    <h2>Your <span>Starred Items</span></h2>

    {% if bookmarks.object_list %}
      {% include "includes/bookmarks/list.html" with bookmark_list=bookmarks.object_list %}
    {% else %}
      <div class="empty-list">
        You haven't starred any items.
      </div>
    {% endif %}
  </div>
{% endblock %}
