{% extends "base.html" %}

{% block body_id %}dashboard{% endblock %}

{% block header %}
  {{ block.super }}
  <h1>Dashboard</h1>
{% endblock %}

{% block content %}
  <section class="intro">
		<input type="button" value="Create a Hunch" onclick="location.href='/hunches/create'">
    <p>Welcome Back, {{ user }}.</p>
  </section>
  <section class="hunches">
    <div>
      <h2>Recently <span>Updated</span> Hunches</h2>
      {% include "includes/hunches/list.html" with hunch_list=recent_hunches %}
    </div>
    <div>
      <h2>Recently <span>Comfirmed</span> Hunches</h2>
      {% include "includes/hunches/list.html" with hunch_list=confirmed_hunches %}
    </div>
  </section>
  <section class="suggestions">
    <div>
      <h2>Suggested <span>People</span></h2>
      <div style="background: #eee; font-family: monospace; padding: 1em;">{{ suggested_people }}</div>
    </div>
    <div>
      <h2>Suggested <span>Groups</span></h2>
      {% include "includes/groups/list.html" with group_list=suggested_groups show_join_link=1 %}
    </div>
  </section>
{% endblock %}