        <h3>Recent Confirmed Hunches</h3>
		{% for hunch in confirmed_hunches %}
        <div id='recentConfirmed{{forloop.counter}}' class='recentHunch'>
		  <div class='title'>
			<a href='/hunches/{{hunch.id}}'>{{ hunch.title }}</a>
		  </div>
		  <div class='info'>
			by <a href='/profile/{{ hunch.creator.user.id }}'>{{ hunch.creator.user.first_name }}</a> and <a href='collaboratorsLink'>
			# of Collaborators</a><a href='hunchAttachments'># of attachments</a>
		  </div>
		</div>
        <div class='time'> {{ hunch.time_modified|timesince }}
        </div>
	    {% endfor %}
		<div class='viewMore'>
		  <a href='{% url finished_hunches %}'>View More</a>
		</div>
