{% extends "hunches/create/base.html" %}

{% block help_text %}
  <p>
    If you already have evidence to support your hunch, attach it now.<br>
    You (and your collaborators) can always attach more as it's discovered.
  </p>
{% endblock %}

{% block form %}
  <section class="existing-evidence">
    <h2>Attach <span>Existing Evidence</span> to This Hunch</h2>

    <div class="fields">
      {% include "includes/fields/base.html" with field=wizard.form.evidences %}
    </div>
  </section>

  <section class="new-evidence">
    <h2>or Create <span>New Evidence</span> and Attach it to This Hunch</h2>

    <div class="fields" style="display: none;">
      <div class="left">
        {% include "includes/fields/base.html" with field=wizard.form.title %}
        {% include "includes/fields/base.html" with field=wizard.form.description %}
        {% include "includes/fields/base.html" with field=wizard.form.location %}
      </div>
      <div class="right">
        {% include "includes/fields/base.html" with field=wizard.form.link %}
        {% include "includes/fields/base.html" with field=wizard.form.tags %}
      </div>
    </div>
  </section>

  <script>
    (function() {
      var $section = $("section.new-evidence");
      var $wrapper = $("<div>", { "class": "show" }).appendTo($section);
      var $trigger = $("<a>", { "href": "" }).appendTo($wrapper);
      var $fields  = $section.find(".fields").hide();

      var verb = function() {
        return ($fields.css("display") == "none") ? "Show" : "Hide";
      };

      var caption = function() {
        return verb() + " the Create Evidence Form";
      };

      var update_caption = function() {
        $trigger.html(caption());
      };

      $trigger.click(function(event) {
        $fields.slideToggle("slow", update_caption);
        event.preventDefault();
      });

      update_caption();
    })();
  </script>
{% endblock %}

{% block actions %}
  {{ block.super }}
  <input type="submit" value="Attach More Evidence">
{% endblock %}
