{% extends "hunches/create/base.html" %}

{% block help_text %}
  <p>
    Invite other users and groups to contribute to your hunch.<br>
    Lorem ipsum dolor sit amet.
  </p>
{% endblock %}

{% block form %}
  <div class="fields">
    <div class="left">
      {% include "includes/fields/base.html" with field=wizard.form.user_profiles %}
      {% include "includes/fields/base.html" with field=wizard.form.add_groups %}
    </div>
    <div class="right">
      {% include "includes/fields/base.html" with field=wizard.form.tags %}
      {% include "includes/fields/base.html" with field=wizard.form.location %}
    </div>
  </div>
{% endblock %}
