#!/usr/bin/env python

TWITTER_CONSUMER_KEY         = ""
TWITTER_CONSUMER_SECRET      = ""
FACEBOOK_APP_ID              = ""
FACEBOOK_API_SECRET          = ""
LINKEDIN_CONSUMER_KEY        = ""
LINKEDIN_CONSUMER_SECRET     = ""
ORKUT_CONSUMER_KEY           = ""
ORKUT_CONSUMER_SECRET        = ""
GOOGLE_CONSUMER_KEY          = ""
GOOGLE_CONSUMER_SECRET       = ""
GOOGLE_OAUTH2_CLIENT_ID      = ""
GOOGLE_OAUTH2_CLIENT_SECRET  = ""
FOURSQUARE_CONSUMER_KEY      = ""
FOURSQUARE_CONSUMER_SECRET   = ""
GITHUB_APP_ID                = ""
GITHUB_API_SECRET            = ""
DROPBOX_APP_ID               = ""
DROPBOX_API_SECRET           = ""
FLICKR_APP_ID                = ""
FLICKR_API_SECRET            = ""
