{% extends "base.html" %}
{% load activelink %}

{% block secondary_nav %}
  <ul class="secondary">
    <li class="{% ifactive "bookmarked_hunches" %}active{% endifactive %}"><a href="{% url bookmarked_hunches %}">Starred Hunches</a></li>
    <li class="{% ifactive "bookmarked_albums" %}active{% endifactive %}"><a href="{% url bookmarked_albums %}">Starred Albums</a></li>
    <li class="{% ifactive "bookmarked_evidence" %}active{% endifactive %}"><a href="{% url bookmarked_evidence %}">Starred Evidence</a></li>
    <li class="{% ifactive "bookmarked_groups" %}active{% endifactive %}"><a href="{% url bookmarked_groups %}">Starred Groups</a></li>
  </ul>
{% endblock %}