{% extends "base.html" %}
{% load activelink %}

{% block secondary_nav %}
  <ul class="secondary">
    <li class="{% ifactive "bookmarked_all" %}active{% endifactive %}"><a href="{% url bookmarked_all %}">All Starred Items</a></li>
    <li class="{% ifactive "bookmarked_hunches" %}active{% endifactive %}"><a href="{% url bookmarked_hunches %}">Hunches</a></li>
    <li class="{% ifactive "bookmarked_evidence" %}active{% endifactive %}"><a href="{% url bookmarked_evidence %}">Evidence</a></li>
    <li class="{% ifactive "bookmarked_groups" %}active{% endifactive %}"><a href="{% url bookmarked_groups %}">Groups</a></li>
  </ul>
{% endblock %}
