{% extends "bookmarks/base.html" %}
{% block body_id %}group-list{% endblock %}
{% load paginator_tags %}
{% load bookmark_tags %}
{% load partial_tags %}

{% block content %}
  {% if bookmark_list.object_list %}
    <section class="object-list">
      {% for bookmark in bookmark_list.object_list %}
        {% partial bookmark.content_object %}
      {% endfor %}
    </section>
  {% else %}
    {% block empty %}{% endblock %}
  {% endif %}

  <div class="links">
    {% paginator bookmark_list %}
  </div>
{% endblock %}