{% extends "hunches/show/base.html" %}

{% block title %}
  Add Evidence to a Hunch &mdash;
  {{ block.super }}
{% endblock %}

{% block header %}
  {{ block.super }}
  <h1>Add Evidence to a Hunch</h1>
{% endblock %}

{% block evidence_tab_class %}active{% endblock %}

{% block secondary_content %}
  <form action="" method="post" class="add hunch_evidence">
    <section class="help_text">
      <p>
        Hunches are supported or refuted by evidence. If you know of existing
        evidence which is relevant to the hunch, use this form to attach it.
      </p>
      <p>
        You cannot yet <em>create</em> evidence using this form. For now, please
        use the <a href="{% url create_evidence %}">Create an Evidence</a> form
        for that.
      </p>
    </section>

    {{ form.non_field_errors }}
    {% csrf_token %}

    {% for field in form.hidden_fields %}
      {{ field }}
    {% endfor %}

    <div class="fields">
      {% include "includes/fields/base.html" with field=form.evidence %}
      {% include "includes/fields/base.html" with field=form.vote %}
      {% include "includes/fields/base.html" with field=form.comment %}
    </div>

    <div class="actions">
      <input type="hidden" name="action" value="add_evidence">
      <input type="submit" value="Add Evidence to Hunch">
    </div>
  </form>
{% endblock %}
