{% extends "hunches/show/base.html" %}
{% load paginator_tags %}
{% load embed_tags %}

{% block title %}
  Evidence &mdash;
  {{ block.super }}
{% endblock %}

{% block secondary_content %}
  <h2><span>Evidence</span> Relevant to This Hunch</h2>

  {% if hunch_evidences.object_list %}
    {% include "includes/hunchevidences/list.html" with object_list=hunch_evidences.object_list %}
  {% else %}
    <div class="empty-list">
      <p>No evidence has been added to this hunch yet.</p>
    </div>
  {% endif %}
{% endblock %}

{% block paginator %}
  {% paginator hunch_evidences %}
{% endblock %}
