{% extends "hunches/show/base.html" %}
{% load bookmark_tags %}
{% load embed_tags %}
{% load markup %}

{% block title %}
  Evidence &mdash;
  {{ block.super }}
{% endblock %}

{% block evidence_tab_class %}active{% endblock %}

{% block secondary_content %}
  <article class="evidence full">
    <header>
      {% if evidence.link %}
        {% embed evidence.link %}
        <h1><a href="{{ evidence.get_absolute_url }}">{{ evidence }}</a></h1>
      {% else %}
        <section class="desc">
          {{ evidence.description|markdown }}
        </section>

        <h1><a href="{{ evidence.get_absolute_url }}">{{ evidence }}</a></h1>
      {% endif %}
    </header>

    <!--<ul class="meta">
      <li class="source"><span>Source:</span> <a href="{{ evidence.link }}">{{ evidence.short_link }}</a></li>
      <li class="date"><span>Posted:</span> {{ evidence.time_created|date:"j F Y" }}</li>
      <li class="creator"><span>By:</span> <a href="{{ evidence.creator.get_absolute_url }}">{{ evidence.creator }}</a></li>
    </ul>-->

    {% bookmarks evidence %}
  </article>

  {% include "includes/comments/list_with_form.html" with object_list=comments form=form %}
{% endblock %}
