{% extends "hunches/show/base.html" %}
{% load paginator_tags %}
{% load embed_tags %}

{% block title %}
  Evidence &mdash;
  {{ block.super }}
{% endblock %}

{% block secondary_content %}
  {% if hunch_evidences.object_list %}

    <section class="object-list evidence">
      {% for object in hunch_evidences.object_list %}

        <article class="evidence short" data-id="{{ object.evidence.id }}">
          {% embed object.evidence.link %}
          <h2><a href="{% url hunch_evidence object.hunch.id, object.evidence.id %}">{{ object.evidence }}</a></h2>

          <ul class="stats">
            <li>Added by: {{ object.creator }}</li>
            <li>Comments: {{ object.comment_set.count }}</li>
            <li>Votes: {{ object.vote_set.count }}</li>
          </ul>
        </article>

      {% endfor %}
    </section>

    {% include "includes/evidences/list.html" with object_list=evidences.object_list %}
  {% else %}
    <div class="empty-list">
      <p>No evidence has been added to this hunch yet.</p>
    </div>
  {% endif %}
{% endblock %}

{% block paginator %}
  {% paginator hunch_evidences %}
{% endblock %}
