section.album-list { }

  section.album-list > article.album {
    position: relative;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px #ccc;
    border-radius: 5px;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    color: #999;
  }

  section.album-list > article.album:last-child {
    margin-bottom: 0;
  }

    section.album-list > article.album > div.left > h2 {
      font-size: 125%;
      font-weight: bold;
      margin-bottom: 0.4em;
      color: #333;
    }

      section.album-list > article.album > div.left > h2 > a {
        text-decoration: none;
      }

    section.album-list > article.album > div.left > section.desc {
      margin-bottom: 0.5em;
    }

    section.album-list > article.album > div.left > ul.stats {
      margin-left: 1.5em;
    }

section.album-show > article.album {
  margin-top: 2em;
}

  section.album-show > article.album > div.left {
    margin-left: 1em;
    margin-bottom: 1.5em;
  }

  section.album-show > article.album > div.left > h2 {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 0.4em;
    color: #333;
  }
  
  section.album-show > article.album > div.right > a {
    margin-right: 1em;
  }

  section.album-show > article.album > article.evidence {
    position: relative;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px #ccc;
    border-radius: 5px;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
    padding: 1em;
    color: #999;
  }

    section.album-show > article.album > article.evidence > header {
      text-align: center;
      padding: 4em;
    }

      /* Hide the embed link until it's been Embedlyed. */
      section.album-show > article.album > article.evidence > header > a.embed {
        display: none;
      }

      section.album-show > article.album > article.evidence > header > div.embed img,
      section.album-show > article.album > article.evidence > header > div.embed object,
      section.album-show > article.album > article.evidence > header > div.embed embed {
        display: block;
        margin: 0 auto;
        border-radius: 4px;
      }

      section.album-show > article.album > article.evidence > header > h1 {
        margin-top: 0.4em;
        font-size: 250%;
      }

        section.album-show > article.album > article.evidence > header > h1 > a {
          text-decoration: none;
          color: #000;
        }

      section.album-show > article.album > article.evidence > header > section.desc {
        margin-top: 1em;
        color: #999;
      }