#auth-login,
#auth-signup {
  padding: 4em 30%;
}

  #auth-login h2,
  #auth-signup h2 {
    font-size: 200%;
    margin-bottom: 0.25em;
  }

  #auth-login p,
  #auth-signup p {
    margin-bottom: 1em;
    color: #999;
  }