/*= pages/auth.scss */

body#login {
  #page {
    div.left, div.right {
      float: left;
      width: 50%;

      p.help {
        color: #666;
        background: #f8f8f8 url("../../img/bg2.png");
        padding: $line-height $spacing;
      }
    }

    div.left  { padding-right: $spacing; }
    div.right { padding-left: $spacing; }

    ul.providers {
      margin-top: $line-height;

      li {
        display: block;
        margin: 0 auto;
        width: 150px;

        a {
          @include hide-text;
          display: block;
          height: 22px;
          margin-bottom: ($line-height * 2) - 22px;
        }

        &:hover {
          background-position: 0 -24px;
        }

        &:active {
          background-position: 0 -48px;
        }

        &.twitter  { background-image: url(../../img/auth/twitter_signin.png); }
        &.linkedin { background-image: url(../../img/auth/linkedin_signin.png); }
        &.facebook { background-image: url(../../img/auth/facebook_signin.png); }
      }
    }

    form div.actions p {
      padding: ($line-height / 2) 0;
      margin: 0;
      color: #666;
    }
  }
}
