@import "../hunchworks.scss";

#dashboard { }

  #dashboard #page {
    overflow: hidden;
  }

    #dashboard #page > div.left,
    #dashboard #page > div.right {
      box-sizing: border-box;
      padding: 2em;
      float: left;
    }

    #dashboard #page > div.left {
      padding-right: 1em;
      width: 60%;
    }

    #dashboard #page > div.right {
      padding-left: 1em;
      width: 40%;
    }

      #dashboard #page > div > h2 {
        text-align: center;
        font-size: 160%;
        color: #999;
        margin-top: 1.25em;
        margin-bottom: 0.625em;
      }

        #dashboard #page > div > h2 > span {
          font-weight: bold;
          color: #000;
        }

      #dashboard #page > div > h2:first-child {
        margin-top: 0;
      }
