#dashboard { }

  #dashboard section.intro {
    padding: 2em;
    overflow: hidden;
  }
  
    #dashboard section.intro > p {
      float: left;
      font-size: 125%;
      line-height: 2.4em;
      padding: 2px 0 2px 0.7em;
    }

    #dashboard section.intro > input {
      float: right;
    }
  
  #dashboard section.hunches,
  #dashboard section.suggestions {
    padding: 2em;
    padding-left: 3em;
    overflow: hidden;
    border-top: 1px dashed #ccc;
  }
  
    #dashboard section.hunches > div,
    #dashboard section.suggestions > div {
      float: left;
      width: 50%;
      margin-left: 1em;
    }

    #dashboard section.hunches > div:first-child,
    #dashboard section.suggestions > div:first-child {
      margin-left: -1em;
    }

      #dashboard section.hunches > div > h2,
      #dashboard section.suggestions > div > h2 {
        text-align: center;
        font-size: 160%;
        color: #999;
        margin-bottom: 0.625em;
      }
      
        #dashboard section.hunches > div > h2 > span,
        #dashboard section.suggestions > div > h2 > span {
          font-weight: bold;
          color: #000;
        }