#evidence-list section.evidence-list {
  padding: 2em;
}

  #evidence-list section.evidence-list > article.evidence {
    position: relative;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px #ccc;
    border-radius: 5px;
    margin-bottom: 1em;
    color: #999;
    overflow: hidden;
  }

  #evidence-list section.evidence-list > article.evidence:last-child {
    margin-bottom: 0;
  }

    #evidence-list section.evidence-list > article.evidence > div.embed {
      float: right;
      padding: 1px;
    }

      /* Hide the embed link until it's been Embedlyed. */
      #evidence-list section.evidence-list > article.evidence > a.embed {
        display: none;
      }

      #evidence-list section.evidence-list > article.evidence > div.embed img,
      #evidence-list section.evidence-list > article.evidence > div.embed object,
      #evidence-list section.evidence-list > article.evidence > div.embed embed {
        display: block;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        max-height: 100px;
        max-width: 400px;
      }

    #evidence-list section.evidence-list > article.evidence > h2 {
      font-size: 125%;
      font-weight: bold;
      margin: 0.8em 0 0.4em 0.8em;
      color: #333;
    }

      #evidence-list section.evidence-list > article.evidence > h2 > a {
        text-decoration: none;
      }

    #evidence-list section.evidence-list > article.evidence > section.desc {
      margin: 0.5em 0 0.5em 1em;
    }

    #evidence-list section.evidence-list > article.evidence > ul.stats {
      margin: 0.5em 0 0.5em 2.5em;
      line-height: 1.3;
    }


#evidence-show { }

  #evidence-show article.evidence { }

    #evidence-show article.evidence > header {
      text-align: center;
      padding: 4em;
    }

      /* Hide the embed link until it's been Embedlyed. */
      #evidence-show article.evidence > header > a.embed {
        display: none;
      }

      #evidence-show article.evidence > header > div.embed img,
      #evidence-show article.evidence > header > div.embed object,
      #evidence-show article.evidence > header > div.embed embed {
        display: block;
        margin: 0 auto;
        border-radius: 4px;
      }

      #evidence-show article.evidence > header > h1 {
        margin-top: 0.4em;
        font-size: 250%;
      }

        #evidence-show article.evidence > header > h1 > a {
          text-decoration: none;
          color: #000;
        }

      #evidence-show article.evidence > header > section.desc {
        margin-top: 1em;
        color: #999;
      }


#evidence-explore { }

  #evidence-explore section.graph {
    padding: 2em;
  }