/*= pages/explore.scss */

#explore {

  section.graph {
    padding: 2em;
    border-bottom: 1px dashed #ccc;

    p.create-evidence {
      text-align: center;
      margin-top: 1em;
      color: #999;
    }
  }
}
