/*= pages/hunches.scss */

body#hunch-list {

  section.object-list {
    padding: $spacing*2;
  }
}

body#hunch-show {
  #page {
    background: #f8f8f8 url("../../img/bg2.png");
    border-bottom: $pinstripe;

    /* Remove the default padding from the page, to allow the borders of the
    |* (rather complex) hunch UI to join the edges. */
    padding: 0;
  }

  article.hunch {

    header {
      @include clear-floats;
      color: #999;

      /* Leave a large gap around the header. Slightly smaller at the bottom,
      |* to account for the slightly-too-large tab bar. */
      padding: ($line-height * 2) ($spacing * 2) ($line-height * 1.5);

      > div {
        display: inline-block;
        float: left;
        width: 75%;

        h1 {
          font-size: $font-size * 2;
          line-height: $line-height * 2;
          margin-right: $spacing * 2;
          text-indent: -0.5em;

          a {
            text-decoration: none;
            color: #000;
          }
        }

        div.cite {
          line-height: $line-height * 2;
        }
      }

      section.status {
        float: right;
        width: 25%;
        text-align: center;

        > div {
          @include border-radius(5px);
          background: #fff;
          border: 2px solid #eee;
          margin-top: -2px;

          h3 {
            color: #333;
            margin: 0;
          }

          p {
            padding: 0 $spacing / 2;
            margin: 0 0 ($line-height / 2) 0;
            font-size: $font-size * 0.9;

            span {
              background: #ffe;
              color: #666;
            }
          }
        }

        p.how {
          font-size: $font-size * 0.75;
          margin: (($line-height / 2) - 2px) 0 0 0;

          a {
            color: #ccc;
            cursor: help;
          }
        }
      }
    }
  }


  div.inner {
    background: #fff;
    overflow: hidden;
    padding: $spacing*2;
    border-right: 1px solid #ccc;
    box-shadow: 0 0 20px #ccc;

    section.desc {
      p {
        font-family: $font-family-serif;
        clear: left;
      }
  
      ul.tags {
        margin-top: $spacing/2;
      }
    }
  }


  /* Align the first tab with the edge of the hunch title (above). */
  nav.tabs {
    padding-left: $spacing*2;
    width: 70%;
  }


  aside {
    float: right;
    width: 30%;
    padding: $spacing*2;

    > h2 {
      text-align: center;
      font-size: 160%;
      color: #999;
      margin-bottom: $spacing;

      > span {
        font-weight: bold;
        color: #000;
      }
    }
    
    article.hunch {
      background: #fff;
    }
  }


  /* Compensate for the border-bottom on #page. */
  nav.links {
    margin-top: 0 - $pinstripe-width;
  }


  /*section.map {
    float: right;
    width: 20em;
    margin-left: $spacing*2;
    padding: 1px;
    border: 1px solid #ccc;
    background: #eee;

    > div {
      height: 15em;
    }
  }*/


  section.activity {

    > h2 {
      text-align: center;
      font-size: 160%;
      color: #999;
      margin-bottom: $spacing;

      > span {
        font-weight: bold;
        color: #000;
      }
    }
  }


  section.comments {
    @include clear-floats;

    li {
      margin: 0 0 $line-height 0;
      display: block;

      .comment {

        > .bubble {
          @include border-radius(5px);
          border: 2px solid #ccc;
          padding: ($line-height - 2px) $spacing;
          min-height: $line-height * 3;

          font-family: $font-family-serif;
          position: relative;
          margin: 0 62px;
          background: #fff;

          > .arrow {
            background-repeat: no-repeat;
            background-position: 0 50%;
            position: absolute;
            top: 0;
            width: 8px;
            height: 54px;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(even) .comment {
        .user {
          float: right;
        }

        .arrow {
          background-image: url("../../img/bubble-arrow-right.png");
          right: -8px;
        }
      }

      &:nth-child(odd) .comment {
        .user {
          float: left;
        }

        .arrow {
          background-image: url("../../img/bubble-arrow-left.png");
          left: -8px;
        }
      }

      > div.show {
        text-align: center;
        margin-top: $spacing;
        color: #999;
      }
    }
  }


  form.comment {
    display: none;

    /* If the comment submitted was invalid, make the bubble borders look like
    |* the invalid field border. They're deliberately styled the same. */
    &.errors > div.bubble {
      border-color: #c66;
      background-color: #fee;
      color: #000;
    }

    > div.bubble {
      padding: 0 !important;

      > div.field {
        margin-bottom: 0;
        padding-right: 27px;

        > div.label,
        > ul.errorlist {
          display: none;
        }

        > textarea {
          clear: none;
          padding: $spacing;
          line-height: 1.3;
          height: 73px;
          background: none;
          border: none;
        }
      }

      > div.actions {
        border: none;
        padding: 0;
        margin: 0;

        > input {
          position: absolute;
          background: #eee;
          color: #ccc;
          border: none;
          border-radius: 0 3px 3px 0;
          -moz-border-radius: 0 3px 3px 0;
          font-family: $font-family-sans;
          font-size: 200%;
          font-weight: normal;
          padding: 0;
          top: 1px;
          right: 1px;
          bottom: 1px;
          width: 25px;
        }

        > input:focus,
        > input:hover {
          background: #ccc;
          color: #fff;
        }
      }
    }
  }
}


body#hunch-create {
  #page {
    padding: 0;
  }

  form {
    /* We can't use the @vertical-gradient mixin here, because the syntax is
    |* different for the different vendor prefixes. This should probably be
    |* simplified. */
    background: #eee;
    background: -webkit-gradient(linear, left top, 25% top, from(#fff), to(#eee));
    background: -moz-linear-gradient(left top, #fff, #eee, #eee, #eee, #eee);

    html.debug & {
      background: rgba(255, 255, 0, 0.1);
    }

    section.help {
      float: left;
      width: 25%;

      h2 {
        color: #666;
        text-align: left;
      }
    }

    section.help,
    div.fields {
      padding: $line-height $spacing ($line-height - $pinstripe-width);
    }
 
    div.fields {
      border-left: $pinstripe-width $pinstripe-style #ddd;
      background: #fff;

      html.debug & {
        background: rgba(255, 255, 255, 0.5);
      }

      /* Step 2 (evidence) has two separate "wrapped" sections. */
      div.wrap {
        @include clear-floats;

        div.left, div.right {
          padding-bottom: $line-height * 2;
        }
      }

      /* The "(show|hide) the create evidence form" link. */
      div.show {
        text-align: center;
        color: #999;
        clear: both;
      }
    }

    div.actions {
      border-top: $pinstripe;
      padding-bottom: $line-height - $pinstripe-width;
  
      button.prev {
        float: left;
        margin-left: 0;
      }
    }
  }
}
