#leftSide {
	float: left;
	clear: both;
	width: 250px;
	border: 2px solid black;
	}
#profile {
	border-bottom: 2px solid black
}
#rightSide {
	float: left;
}
#createHunchButton {
	font-size: 30px;
}
#complementaryList{
	list-style-type: none;
}