<!DOCTYPE html>
{% load static %}
{% load activelink %}
{% load compress %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}HunchWorks{% endblock %}</title>

    {% compress css %}
      <!-- global look and feel -->
      <link rel="stylesheet" href="{% get_static_prefix %}css/global/reset.css">
      <link rel="stylesheet" href="{% get_static_prefix %}css/global/hacks.css">
      <link rel="stylesheet" href="{% get_static_prefix %}css/global/base.css">
      <link rel="stylesheet" href="{% get_static_prefix %}css/global/nav.css">

      <!-- includes -->
      <link rel="stylesheet" href="{% get_static_prefix %}css/includes/paginator.css">
      <link rel="stylesheet" href="{% get_static_prefix %}css/includes/tags.css">
      <link rel="stylesheet" href="{% get_static_prefix %}css/includes/user.css">
      <link rel="stylesheet" href="{% get_static_prefix %}css/includes/token-input.css">
      <link rel="stylesheet" href="{% get_static_prefix %}css/includes/location-widget.css">
      <link rel="stylesheet" href="{% get_static_prefix %}css/includes/evidence-widget.css">
      <link rel="stylesheet" href="{% get_static_prefix %}css/includes/embed-widget.css">
      <link rel="stylesheet" href="{% get_static_prefix %}css/includes/bookmark.css">
      <link rel="stylesheet" href="{% get_static_prefix %}css/includes/hunch.css">
      <link rel="stylesheet" href="{% get_static_prefix %}css/includes/group.css">

      <!-- forms -->
      <link rel="stylesheet" href="{% get_static_prefix %}css/forms/base.css">
      <link rel="stylesheet" href="{% get_static_prefix %}css/forms/profile.css">
      <link rel="stylesheet" href="{% get_static_prefix %}css/forms/evidence.css">
      <link rel="stylesheet" href="{% get_static_prefix %}css/forms/hunch.css">

      <!-- specific pages -->
      <link rel="stylesheet" href="{% get_static_prefix %}css/pages/auth.css">
      <link rel="stylesheet" href="{% get_static_prefix %}css/pages/album.css">
      <link rel="stylesheet" href="{% get_static_prefix %}css/pages/groups.css">
      <link rel="stylesheet" href="{% get_static_prefix %}css/pages/hunches.css">
      <link rel="stylesheet" href="{% get_static_prefix %}css/pages/connections.css">
    {% endcompress %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script>
      window.hunchworks = {
        "embedly_key": "b0383ffaf0ff11e0a68e4040d3dc5c07"
      };
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.js"></script>
    <script src='/static/js/jquery-tokeninput-1.6.0-min.js'></script>
    <script src="/static/js/underscore-1.1.7-min.js"></script>
    <script src="/static/js/comment-forms.js"></script>

    <!-- temporary! use widget media -->
    <script src="http://scripts.embed.ly/jquery.embedly.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="/static/js/location-widget.js"></script>
    <script src="/static/js/evidence-widget.js"></script>
    <script src="/static/js/embed-widget.js"></script>
    <script src="/static/js/token-widget.js"></script>
    <script src="/static/js/vote-widget.js"></script>
    {% block js %}{% endblock %}
  </head>
  <body id="{% block body_id %}{% endblock %}">
    <div id="wrapper">

      <header>
        {% block header %}
          <h1><a href="{% url dashboard %}" title="Return to Dashboard">HunchWorks</a></h1>
        {% endblock %}
      </header>

      <nav class="site">
        {% block primary_nav %}
          <ul class="primary">
            <li class="{% ifstartswith "hunches" %}active{% endifstartswith %}"><a href="{% url hunches %}">Hunches</a></li>
            <li class="{% ifstartswith "evidences" %}active{% endifstartswith %}"><a href="{% url evidences %}">Evidence</a></li>
            <li class="{% ifstartswith "groups" %}active{% endifstartswith %}"><a href="{% url groups %}">Groups</a></li>
          </ul>
        {% endblock %}
  
        {% block secondary_nav %}{% endblock %}
      </nav>

      <nav class="user">
        {% block user_nav %}
          {% if user.is_authenticated %}
            <ul class="user">
              <li class="{% ifactive "profile" %}active{% endifactive %}"><a href="{% url profile %}">My Profile</a></li>
              <li class="{% ifactive "connections" %}active{% endifactive %}"><a href="{% url connections %}">My Connections</a></li>
              <li class="{% ifactive "logout" %}active{% endifactive %}"><a href="{% url logout %}">Log out</a></li>
            </ul>
          {% endif %}
        {% endblock %}
      </nav>

      <div id="page">
        {% block content %}{% endblock %}
        <div class="clear-hack"></div>
      </div>
    </div>
  </body>
</html>