<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!--<link rel="stylesheet" href="/static/main.css" type="text/css" />-->
	{% block css %}{% endblock %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
    <script src="/static/main.js"></script>
	{% block js %}{% endblock %}
  </head>
  <body>
    <div id='page'>
      

      <div id='header'>
        {% include "navigation.html" %} 
      </div>
      
      {% block content %}{% endblock %}
      
      <!--uncomment this when footer created
      <div id='header'>
        <!--#include virtual="templates/footer.html" -->
      </div> <!-- end Footer -->

      <!--{% block footer %}{% endblock %}-->
    </div> <!-- end page -->
  </body>
</html>
