{% extends "base.html" %}
{% block title %}Create a Group{% endblock %}
{% block css %}
  <style type='text/css'>
	#column1 {
	  float: left;
	  clear: both;
	  width: 600px;
	  }
	#column2 {
	  float: left;
	}
	.inputText {
	  padding-bottom: 10px;
	}
	#relatedSkills, #languagesRequired{
	  padding-bottom: 10px;
	}
  </style>
{% endblock %}
{% block content %}
  <div id='header'>
	<h3>Create a new group</h3>
  </div>
  <div id='contents'>
	<div id='column1'>
		<form action="createGroup.html" method="post">{% csrf_token %}
		  <b>Group Name:</b>
		  <div class="inputText">
			{{ form.name }} 
		  </div>
		  <b>Group Type:</b>
		  <div class="inputText">
			{{form.group_type}}
		  </div>
		  <b>Privacy:</b>
		  <div class="inputText">
			{{form.privacy}}
		  </div>
		  <b>Location:</b>
		  <div class="inputText">
			{{form.location}}
		  </div>
		  <!--<b>Group Picture</b>
		  <div class="inputText">
		    {{form.logo}}
		  </div>-->
		  <input type="submit" value="Submit" />
		</form>
	</div> <!-- end column1 div -->
	<div id='column2'>
	</div> <!-- end column2 div -->
  </div>
{% endblock %}
