{% extends "base.html" %}
{% block title %}Create a Hunch{% endblock %}
{% block css %}
  <style type='text/css'>
	#column1 {
	  float: left;
	  clear: both;
	  width: 600px;
	  }
	#column2 {
	  float: left;
	}
	.inputText {
	  padding-bottom: 10px;
	}
	#relatedSkills, #languagesRequired{
	  padding-bottom: 10px;
	}
  </style>
{% endblock %}
{% block content %}
  <div id='header'>
	<h3>Create a new hunch</h3>
  </div>
  <div id='contents'>
	<div id='column1'>
		<form action="createGroup.html" method="post">{% csrf_token %}
		  <b>Group Name:</b>
		  <div class="inputText">
			{{ form.name }} 
		  </div>
		  <b>Group Type:</b>
		  <div class="inputText">
			{{form.group_type}}
		  </div>
		  <b>Privacy:</b>
		  <div class="inputText">
			{{form.privacy}}
		  </div>
		  <b>Location:</b>
		  <div class="inputText">
			{{form.location}}
		  </div>
		  <b>Group Picture</b>
		  <div class="inputText">
		    {{form.logo}}
		  </div>
		  <input type="submit" value="Submit" />
		</form>
	  <div class='inputText'>
		<b>Tags:</b><em>(optional but recommended)</em>
		<input type='text' maxlength='40'>
		<button type='button'>Add tag</button>
		<div id='tagsAdded'></div>
	  </div>
	  <div class='inputText'>
		<b>Location:</b>
		<button type='button'>GIS COORDINATES</button>
		<button type='button'>PIN ON MAP</button>
		<button type='button'>DRAW ON MAP</button>
		<button type='button'>LOCATION NAME</button>
		<img src='googlemap' alt='googlemap' height='400px' width='580px'/> 
	  </div>
	  <button type='button' onclick="location.href='addEvidence.html'">
		Next Step
	  </button>
	</div> <!-- end column1 div -->
	<div id='column2'>
	  <div id='relatedSkills'>
		<b>Related Skills:</b><em>(optional)</em>
		<!-- The following are just place holders for now -->
		<div>Language translation</div>
		<div>GIS analysis</div>
		<div>text analysis</div>
		<div>economcis</div>
		<div>data Cleaning</div>
		<div>classification</div>
		<div>mobile data</div>
		<div>monitoring & evaluation</div>
		<div>natural language processing</div>
		<div>image processing</div>
		<div>data analysis</div>
		<div>data mining</div>
	  </div>
	  <div id='languagesRequired'>
		<b>Languages required:</b><em>(optional)</em>
		  <!-- The following are just place holders for now -->
		<div>English</div>
		<div>French</div>
		<div>Arabic</div>
		<div>Russian</div>
		<div>Spanish</div>
		<div>Chinese</div>
	  </div>
	</div> <!-- end column2 div -->
  </div>
{% endblock %}
