{% extends "base.html" %}
{% block title %}Edit Hunch{% endblock %}
{% block css %}
  <link rel="stylesheet" href="/static/hunch.css" type="text/css" />
  <link rel="stylesheet" href="/static/token-input-facebook.css" type="text/css" />
  <link rel="stylesheet" href="/static/token-input.css" type="text/css" />
{% endblock %}
{% block js %}
  <script src='/static/jquery.tokeninput.js'></script>
  <script src='/static/editHunch.js'></script>
{% endblock %}
{% block content %}
  <div id='header'>
	<h3 id='hunchId' hunch='{{ hunch_id }}'>
	  Edit Hunch #{{ hunch_id }}
	</h3>
  </div>
  <div id='contents'>
  	<form action="{{action}}" method="post">{% csrf_token %}
	<div id='column1'>
		{{ hunch_form.non_field_errors }}
		<b>Title:</b><em>(required)</em>
		{{ hunch_form.title.errors }}
		<div class="inputText">
		  {{ hunch_form.title }} 
		</div>
		<b>Description:</b><em>(required)</em>
		{{ hunch_form.hunch_description.errors }}
		<div class="inputText">
		  {{ hunch_form.hunch_description }}
		</div>
		<b>Tags:</b><em>(optional but recommended)</em>
		{{ hunch_form.tags.errors }}
		<div class="inputText">
		  {{ hunch_form.tags }}
		  <!--<button id='add_tag_button' type='button'>Add Tag into list</button>-->
		</div>
		<b>Privacy Level:</b>
		{{ hunch_form.privacy.errors }}
		<div class="inputText">
		  {{ hunch_form.privacy }}
		</div>
		<b>Location:</b>
		{{ hunch_form.location.errors }}
		<div class="inputText">
		  {{ hunch_form.location }}
		</div>
		<b>Language:</b>
		{{ hunch_form.language.errors }}
		<div class="inputText">
		  {{ hunch_form.language }}
		</div>
		<div class='inputText'>
		  <b>Location:</b>
		  <button type='button'>GIS COORDINATES</button>
		  <button type='button'>PIN ON MAP</button>
		  <button type='button'>DRAW ON MAP</button>
		  <button type='button'>LOCATION NAME</button>
		</div>
		<div class='googleMap'>
		  <img src='googlemap' alt='googlemap' height='400px' width='580px'/> 
		</div>
		<div>
		{{ hunch_form.hunch_collaborators.errors }}
		  <b>Invited Users:</b><em>(optional)</em>
		  {{ hunch_form.hunch_collaborators }}
		</div>
	  <input type="submit" value="Submit" />
	</div> <!-- end column1 div -->
	<div id='column2'>
	  <div>
	  {{ hunch_form.skills_required.errors }}
		<b>Skills Required:</b><em>(optional)</em>
		{{ hunch_form.skills_required }}
	  </div>
	  <div>
	  {{ hunch_form.languages_required.errors }}
		<b>Languages Required:</b><em>(optional)</em>
		{{ hunch_form.languages_required }}
	  </div>
	</div> <!-- end column2 div -->
	</form>
  </div>
{% endblock %}