<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Import from TeamWorks</title>
    <style type='text/css'>
      .inputText {
        float: right;
        clear: both;
        }
      .divInput {
        width:300px;
        clear: both;
      }
    </style>
  </head>
  <body>
    <form method='post' action=''>
      <div class='divInput'>
        Username:<input class='inputText' id='username' type='text' name='username'/>
      </div>
      <div class='divInput'>
        Password:<input class='inputText' id='password' type='password' name='password'/>
      </div>
      <div id="submit">
        <input type="submit" value="Import profile from TeamWorks"/>
        <!-- needs to call a python function to  pull the data from the TeamWorks API
          and input the needed data into the values of the forms on the signUp page.
          No idea how to do this. Maybe form action send to signup page with information, and 
          it will reload?
        -->
      </div>
    </form>
  </body>
</html>