{% extends "base.html" %} 

{% block content %}
  <div id='contents'>
	<h2>Sign up with Hunchworks to get started...</h2>
	<h3>Import your profile</h3>
	<div>
	  <button class='importButton' type='button' onclick='return popup(
		"importLinkedIn.html", "linkedIn")'>Linked In</button>
	  <button class='importButton' type='button' onclick='return popup(
		"importTeamWorks.html", "teamWorks")'>Teamworks</button>
	  <button class='importButton' type='button' onclick='return popup(
		"importFacebook.html", "facebook")'>Facebook</button>
	</div>
	<h3>Or create a new account</h3>
	  <div>
		<a href='/signup'>Create a new profile to join</a>
		or
		<a href='/login'>Login</a>
	  </div>
  </div> <!-- end contents div -->
{% endblock %}
