{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block css %}
  <link rel="stylesheet" href="/static/profile.css" type="text/css"/>
{% endblock %}
{% block content %}
  <div id='contents'>
	<div id='column1'>
	  Welcome {{ user.first_name }} to HunchWorks!
	  <div id='profile'>
		<h3>Your Profile:</h3>
		<div class='inputWrapper'>
		  <b>First Name:</b> 
		  {{ user.first_name }}
		</div>
		<div class='inputWrapper'>
		  <b>Last Name:</b> 
		  {{ user.last_name }}
		</div>
		<div class='inputWrapper'>
		  <b>Email:</b> 
		  {{ user.email }}
		</div>
		<div class='inputWrapper'>
		  <b>Occupation:</b> 
		  {% if occupation %}
			{{ user.occupation }}
		  {% else %}
			Occupation not entered
		  {% endif %}
		</div>
		<div class='inputWrapper'>  
		  <b>Hometown:</b> 
		  {% if hometown %}
			{{ user.hometown }}
		  {% else %}
			Hometown not entered
		  {% endif %}
		</div>
		<div class='inputWrapper'>
		  <b>Education:</b>
		  {% if education %}
			{{ user.education }}
		  {% else %}
			Education not entered
		  {% endif %}
		</div>
		<div class='inputWrapper'>
		  <b>Phone Number:</b>
		  {% if phone_number %}
			{{ user.phone_number }}
		  {% else %}
			Phone Number not entered
		  {% endif %}
		</div>
		<div class='inputWrapper'>
		  <b>Organization:</b>
		  {% if organization %}
			{{ user.organization }}
		  {% else %}
			Organization not entered
		  {% endif %}
		</div>
		<div class='inputWrapper'>
		  <b>About Yourself:</b>
		  {% if bio_text %}
			{{ user.bio_text }}
		  {% else %}
			Biography not entered
		  {% endif %}
		</div>
		<div class='inputWrapper'>
		  <b>Work History:</b>
		  {% if work_history %}
			{{ user.work_history }}
		  {% else %}
			Work history not entered
		  {% endif %}
		</div>
		<div class='inputWrapper'>
		  <b>Skype:</b>
		  {% if skype_name %}
			{{ user.skype_name }}
		  {% else %}
			Skype name not entered
		  {% endif %}
		</div>
		<div class='inputWrapper'>
		  <b>Instant Messanger:</b>
		  {% if instant_messanger %}
			{{ user.instant_messanger }}
		  {% else %}
			Instant Messanger not entered
		  {% endif %}
		</div>
		<div class='inputWrapper'>
		  <b>Website:</b>
		  {% if website %}
			{{ user.website }}
		  {% else %}
			Website not entered
		  {% endif %}
		</div>
		<div class='inputWrapper'>
		  <b>Expertise:</b>
		  {% if expertise %}
			{{ user.expertise }}
		  {% else %}
			Expertise not entered
		  {% endif %}
		</div>
		<div class='inputWrapper'>
		  <b>Skills:</b>
		  {% if skills %}
			{{ user.skills }}
		  {% else %}
			Skills not entered
		  {% endif %}
		</div>
		<div class='inputWrapper'>
		  <b>Languages:</b>
		  {% if languages_known %}
			{{ user.languages_known }}
		  {% else %}
			Languages known not entered
		  {% endif %}
		</div>
		<div class='inputWrapper'>
		  <b>Location interests:</b>
		  {% if location_interests %}
			{{ user.location_interests }}
		  {% else %}
			Location Interests not entered
		  {% endif %}  
		</div>
	  </div> <!-- end profile div -->
	  <div id='invite'>
	    <form method='post' action='../invitePeople'>{% csrf_token %}
		<h3>Invite People to HunchWorks</h3>
		  {{ invite_form }}
		  <!--<textarea rows='10' cols='30'>type each email here separated by a comma
		  </textarea>-->
		  <input type='submit' value='Invite your friends!'/>
		  <!-- 1. Check data to make sure it is inputed correctly. If not throw error. 
			  Should be name@blah.com, name@yahoo.com, etc...
			2. String parse the string on the value ', ' to get each value.
			3. Send invites to each email.
			4. Append original string into variable hasInvited of user's DB, required a
			  select and insert.
		  -->
		</form>
	  </div> <!-- end invite div -->
	</div> <!-- end column1 div -->
	<div id='column2'>
	  <button id='createHunchButton' type='button'
		onclick="location.href='/hunchworks/hunches/create'"> Create a Hunch! </button>
	  <!-- Link to the createHunch page -->
	  <div id='complementaryDiv'>
		<h3>People with complementary skills</h3>
		<ul id='complementaryList'>
		  <li id='complementaryPerson1'>
			<a id='linkToProfile1' href='linkToProfile1'>
			<img id='imgToProfile1'src='profile1pic' alt='imgToProfile1'/>
			Profile 1 name</a></li>
		  <li id='complementaryPerson2'>
			<a id='linkToProfile2' href='linkToProfile2'>
			<img id='imgToProfile2'src='profile2pic' alt='imgToProfile2'/>
			Profile 2 name</a></li>
		  <li id='complementaryPerson3'>
			<a id='linkToProfile3' href='linkToProfile3'>
			<img id='imgToProfile3' src='profile3pic' alt='imgToProfile3'/>
			Profile 3 name</a></li>
		  <li id='complementaryPerson4'>
			<a id='linkToProfile4' href='linkToProfile4'>
			<img id='imgToProfile4' src='profile4pic' alt='imgToProfile4'/>
			Profile 4 name</a></li>
		  <li id='complementaryPerson5'>
			<a id='linkToProfile5' href='linkToProfile5'>
			<img id='imgToProfile5' src='profile5pic' alt='imgToProfile5'/>
			Profile 5 name</a></li>
		</ul>
	  </div> <!-- end complementaryDiv div -->
	  <div id='matchingHunches'>
		<h3>Hunches matching your expertise</h3>
		<ol id='matchingHunchesList'>
		  <li><a id='linkToMatchingHunch1' href='linkToHunch1'>
			Title of Matching Hunch 1</a></li>
		  <li><a id='linkToMatchingHunch2' href='linkToHunch2'>
			Title of Matching Hunch 2</a></li>
		  <li><a id='linkToMatchingHunch3' href='linkToHunch3'>
			Title of Matching Hunch 3</a></li>
		  <li><a id='linkToMatchingHunch4' href='linkToHunch4'>
			Title of Matching Hunch 4</a></li>
		  <li><a id='linkToMatchingHunch5' href='linkToHunch5'>
			Title of Matching Hunch 5</a></li>
		</ol>
	  </div> <!-- end matchingHunches div -->
	</div> <!-- end column2 div -->
  </div> <!-- end contents div -->

{% endblock %}
