
		<h3>Recent Hunch updates:</h3>
		<div id='recentHunch1' class='recentHunch'>

		   {% for hunch in recent_hunches %}
		  <div class='title'>
			<a href='HUNCH TITLE1'>{{ hunch.title }}</a>
		  </div>
		  <div class='info'>
			by <a href='userProfileLink'>{{ hunch.creator.user.first_name }}</a> and <a href='collaboratorsLink'>
			# of Collaborators</a><a href='hunchAttachments'># of attachments</a>
		  </div>
		  {% endfor %}
		</div>
		<div class='time'>
			0 min
		</div>
		<div id='recentHunch2' class='recentHunch'>
		  <div class='title'>
			<a href='HUNCH TITLE2'>HUNCH TITLE 2</a>
		  </div>
		  <div class='info'>
			by <a href='userProfileLink'>USER</a> and <a href='collaboratorsLink'>
			# of Collaborators</a><a href='hunchAttachments'># of attachments</a>
		  </div>
		</div>
		<div class='time'>
			10 min
		</div>
		<div id='recentHunch3' class='recentHunch'>
		  <div class='title'>
			<a href='HUNCH TITLE3'>HUNCH TITLE 3</a>
		  </div>
		  <div class='info'>
			by <a href='userProfileLink'>USER</a> and <a href='collaboratorsLink'>
			# of Collaborators</a><a href='hunchAttachments'># of attachments</a>
		  </div>
		</div>
		<div class='time'>
			20 min
		</div>
		<div id='recentHunch4' class='recentHunch'>
		  <div class='title'>
			<a href='HUNCH TITLE4'>HUNCH TITLE 4</a>
		  </div>
		  <div class='info'>
			by <a href='userProfileLink'>USER</a> and <a href='collaboratorsLink'>
			# of Collaborators</a><a href='hunchAttachments'># of attachments</a>
		  </div>
		</div>
		<div class='time'>
			40 min
		</div>
		<div id='recentHunch5' class='recentHunch'>
		  <div class='title'>
			<a href='HUNCH TITLE5'>HUNCH TITLE 5</a>
		  </div>
		  <div class='info'>
			by <a href='userProfileLink'>USER</a> and <a href='collaboratorsLink'>
			# of Collaborators</a><a href='hunchAttachments'># of attachments</a>
		  </div>
		</div>
		<div class='time'>
		  60 min
		</div>
		<div class='viewMore'>
		  <a href='listOfMoreHunches'>View More</a>
		</div>
