		<h3>Recent Hunch updates:</h3>
		<div id='recentHunch1' class='recentHunch'>

		   {% for hunch in recent_hunches %}
		  <div class='title'>
			<a href='/hunchworks/hunches/{{hunch.hunch_id}}'>{{ hunch.title }}</a>
		  </div>
		  <div class='info'>
			by <a href='/hunchworks/profile/{{ hunch.creator.user.id }}'>{{ hunch.creator.user.first_name }}</a> and <a href='collaboratorsLink'>
			# of Collaborators</a><a href='hunchAttachments'># of attachments</a>
		  </div>
		  {% endfor %}
		</div>
		<div class='viewMore'>
		  <a href='listOfMoreHunches'>View More</a>
		</div>
