{% extends "base.html" %} 

{% block content %}
  <form method='post' action='profileStrict.html'>{% csrf_token %}
    <h1>Tell us about yourself:</h1>
    <h3>Personal Information</h3>
    <div id='inputForm'>
      <div>
        <button class='importButton' type='button' onclick='return popup(
          "importLinkedIn.html", "linkedIn")'>Linked In</button>
        <button class='importButton' type='button' onclick='return popup(
          "importTeamWorks.html", "teamWorks")'>Teamworks</button>
        <button class='importButton' type='button' onclick='return popup(
          "importFacebook.html", "facebook")'>Facebook</button>
      </div>
      <div class='divInput'>
        Title
        <div class='inputText'>
          {{ form.title }}
        </div>
      </div>
      <div class='divInput'>
        First Name: 
        <div class='inputText'>
          {{ form.first_name }}
        </div>
      </div>
      <div class='divInput'>
        Last Name:
        <div class='inputText'>
          {{ form.last_name }}
        </div>
      </div>
      <div class='divInput'>
        Email:
        <div class='inputText'>
          {{ form.email }}
        </div>
      </div>
      <div class='divInput'>
        Privacy setting:
        <div class='inputText'>
          {{ form.privacy }}
        </div>
      </div>
      <!--<div class='divInput'>
        Preferred Language:
        <div class ='inputText'>
          {{ form.default_language }}
        </div>
      </div>-->
      <div>
        <input type='submit' value='join'/>
      </div>
    </div> <!-- end inputForm -->
  </form>

{% endblock %}
