{% extends "base.html" %} 

{% block content %}
  <form method='post' action='profileStrict.html'>{% csrf_token %}
    <div id='inputForm'>
      <div class='divInput'>
        Username:
        <div class='inputText'>
          {{ form.username }}
        </div>
      </div>
      <div class='divInput'>
        Password:
        <div class='inputText'>
          {{ form.password }}
        </div>
      </div>
      <div>
        <input type='submit' value='Sign In'/>
      </div>
    </div> <!-- end inputForm -->
  </form>

{% endblock %}
