{% extends "base.html" %}
{% block body_class %}static{% endblock %}

{% block title %}
  HunchWorks' Privacy Policy &mdash;
  {{ block.super }}
{% endblock %}

{% block content %}
  <h2>HunchWorks' Privacy Policy</h2>
  <p>Lum dui eugiatum feuisi laoreet. Ipisl am sequat doloborper praesed; nonse iliqui commolum exercipsum vent. Put volenisis idunt, magnit eleifend iril orci inciduipit lobore, nisim estio quamconsequi. Atinit esto iureet feuipsumsan etueratem am do sociis commolum; mincidunt msandre henim duis arcu lobortis. Modionsed augiam vent cor lamconullaor commodolor feuguer adipsusto feuguer; in delendipis niscidu rud iriure etum. Susciduipit hendrerit enississe, pretium atueros interdum loborting do nostissi, quip dolorem vel.</p>
  <p>Blaore adionse iliquis niscilit diamet. Euguero diam modit quatie nisl exercipsum facipsu hendigna tue, essi eriure erciduis. Cras mollis sumsandre dolortis delendipis, mollis ut vendiam. Facing ex dolent augue facin nostie potenti, corem doluptat arcu eugiamconse hendipisim suscil.</p>
{% endblock %}
