{% extends "base.html" %}
{% block body_class %}static{% endblock %}

{% block title %}
  How Hunch Scores are Calculated &mdash;
  {{ block.super }}
{% endblock %}

{% block content %}
  <h2>How Hunch Scores are Calculated</h2>
  <p>Nis lutpat dolutem conulputem nit eugait consent erat tatum; hac dunt vendiam issectem tismolortis enississe. Odipsumsan velenis sismoloreisl aliscil. Justo varius exeriure rilit magna te ostrud iaculis ipisci. Adiatet posuere nostrud eget nit facinci consectetuer, ipsum sollicitudin faciliq, hac eugiamconse ed parturient. Landignibh dolesecte aliquipsum velit elese mollis.</p>
{% endblock %}
