body {
  padding: 0 1em;
  background: #eee;
  color: #333;
}

a {
  text-decoration: underline;
  color: inherit;
}

#wrapper {
  max-width: 960px;
  min-width: 650px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-top: none;
  position: relative;
}

  header {
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    overflow: hidden;
    padding: 1em;
  }

    header > h1 {
      float: left;
      font-size: 200%;
      margin-right: 0.5em;
      padding-right: 0.5em;
      border-right: 1px dotted #ccc;
      font-weight: bold;
      color: #000;
    }

      header > h1 > a {
        text-decoration: none;
      }

    header > h1:last-child {
      border-right: none;
      margin-right: 0;
      padding-right: 0;
    }

  #page {
    background: #fff;
    padding: 1em;
  }

    #page div.links {
      font-size: 80%;
      margin-top: 1.25em;
      padding: 0.625em;

      background: #eee;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff');
      background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
      background: -moz-linear-gradient(top,  #eee,  #fff);
    }

      #page div.links ul {
        float: right;
      }

        #page div.links li {
          display: inline-block;
          margin-left: 1.25em;
        }

          #page div.links ul a {
            display: inline-block;
            padding: 0.625em;
          }