body {
  padding: 1em;
  background: #eee;
  color: #333;
}

a {
  text-decoration: underline;
  color: #000;
}

  a:hover {
    background: #ffd;
  }

#wrapper {
  max-width: 960px;
  min-width: 650px;
  margin: 0 auto;
}

  header {
    padding: 0 1em;
  }

    header a {
      text-decoration: none;
      color: inherit;
    }

      header a:hover {
        background: none;
      }

    header h1 {
      float: left;
      font-size: 200%;
      font-weight: bold;
      line-height: 2em;
      color: #000
    }

    header nav {
      float: right;
    }

      header nav li {
        float: left;
        list-style: none;

        line-height: 3;
        margin-top: 1em;

        padding: 0 1em;
        margin-left: 1px;

        color: #666;
        background: #ccc;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc');
        background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
        background: -moz-linear-gradient(top,  #eee,  #ccc);

        border: 1px solid #ccc;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: none;
      }

  #page {
    -webkit-box-shadow: 0 0 10px #ccc;
    -moz-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    background: #fff;
    padding: 1em;
  }

    #page h1 {
      font-size: 200%;
      margin-bottom: 0.5em;
    }

      #page h1 a {
        text-decoration: none;
      }

    #page div.links {
      margin-top: 1em;
    }

      #page div.links li {
        display: inline-block;
        margin-right: 1em;
      }