form { }

  form ul.errorlist {
    border: 2px solid #e05b52;
    border-radius: 5px;
    background: #fee;
    margin-bottom: 1em;
  }

    form ul.errorlist li {
      list-style: none;
      padding: 1em;
    }

  form div.field,
  form div.actions {
    margin-bottom: 1em;
    float: left;
    clear: left;
  }

  form div.field { }

    label {
      display: block;
      margin-bottom: 0.5em;
      font-weight: bold;
    }

    form div.field ul.errorlist {
      margin-bottom: 0.5em;
      width: auto;
    }

    input {
      font: inherit;
      border: 2px solid #999;
      background: #fff;
      padding: 0.5em;
      color: #666;
    }

    input[type=submit],
    input[type=button] {
      border-radius: 5px;
      font-weight: bold;
      background: #999;
      color: #fff;
    }

    form div.field span.optional {
      font-size: 80%;
      color: #ccc;
    }

    form div.field p.help {
      font-size: 80%;
      max-width: 40em;
      line-height: 1.2;
      margin-top: 0.625em;
      border-left: 0.625em solid #eee;
      padding-left: 0.625em;
      color: #999;
    }

  form div.actions {
    margin-bottom: 0;
  }