#group-list nav {
  float: left;
  margin-left: 1em;
}

  #group-list nav li {
	float: left;
	list-style: none;

	line-height: 3;
	margin-top: 1em;

	padding: 0 1em;
	margin-left: 1px;

	color: #666;
	background: #ccc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc');
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
	background: -moz-linear-gradient(top,  #eee,  #ccc);

	border: 1px solid #ccc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: none;
  }
  
  #group-list a {
	text-decoration: none;
  }

	#group-list a:hover {
	  background: none;
	}

#group-list div.groups {
  margin: -0.5em;
}

  #group-list div.group {
    float: left;
    width: 50%;
  }

    #group-list div.group > div {
      background: #f8f8f8;
      border: 1px solid #ddd;
      margin-top: 1em;
      padding: 0.5em;
      margin: 0.5em;
    }

      #group-list div.group img.logo {
        border: 1px solid #ddd;
        margin-right: 0.5em;
        float: left;
      }

      #group-list div.group h3 {
        font-size: 160%;
        margin-bottom: 0.3125em;
      }

        #group-list div.group h3 a {
          text-decoration: none;
        }

      #group-list div.group div.desc {
        line-height: 1.25;
        font-size: 80%;
        height: 3.75em;
        overflow: hidden;
      }

      #group-list div.group ul.stats {
        margin-top: 0.625em;
        font-size: 80%;
      }

        #group-list div.group ul.stats li {
          display: block;
          float: left;
          border-right: 1px solid #ccc;
          padding-right: 0.5em;
          margin-right: 0.5em;
          color: #666;
        }

          #group-list div.group ul.stats li:last-child {
            border-right: none;
            padding-right: 0;
            margin-right: 0;
          }

#group-show { }

  #group-show > div.group { }

    #group-show > div.group > div.info { }

      #group-show > div.group > div.info > img {
        display: block;
        margin-left: 1em;
        float: right;
      }

      #group-show > div.group > div.info > h1 {
        margin-bottom: 0.25em;
      }

      #group-show > div.group > div.info > ul.tags { }

        #group-show > div.group > div.info > ul.tags > li {
          display: inline-block;
          border: 1px solid #ddd;
          border-radius: 1px 0.8125em 0.8125em 1px;
          font-size: 80%;
          background: #eee url("../icons/tag.png") no-repeat 2px 50%;
          line-height: 19px;
          padding-left: 19px;
          padding-right: 0.625em;
          margin-right: 0.625em;
        }

          #group-show > div.group > div.info > ul.tags > li > a {
            text-decoration: none;
            padding-left: 0.3125em;
          }

      #group-show > div.group > div.info > div.desc { }

        #group-show > div.group > div.info > div.desc > p {
          line-height: 1.4;
          margin-top: 1em;
        }
        
    #group-show > div.group > div.left {
      width: 70%;
      float: left;
    }
    
	  #group-show > div.group > div.left > h2 {
		font-size: 160%;
		margin: 0.625em 0;
		border-top: 1px solid #eee;
		padding-top: 0.625em;
	  }
  
	  #group-show > div.group > div.left > div.members {
		padding-left: 4em;
		margin-top: 1em;
	  }
  
		#group-show > div.group > div.left > div.members > div.member {
		  float: left;
		  width: 19%;
		  margin-right: 1em;
		  text-align: center;
		}
  
		  #group-show > div.group > div.left > div.members > div.member:first-child {
			margin-left: -4em;
		  }
  
		#group-show > div.group > div.left > div.members > div.member > a {
		  display: block;
		  background: #333;
		  box-shadow: 0 0 5px #999;
		  text-decoration: none;
		  border-radius: 5px;
		  padding: 2px;
		}
  
		  #group-show > div.group > div.left > div.members > div.member > a > img {
			display: block;
			margin-bottom: 2px;
			border-radius: 3px 3px 0 0;
		  }
  
		  #group-show > div.group > div.left > div.members > div.member > a > span {
			display: block;
			padding: 0.5em;
			color: #fff;
		  }
        
	#group-show > div.group > div.right {
	  width: 30%;
	  float: left;
	}
	
	  #group-show > div.group > div.right > h2 {
		  font-size: 160%;
		  margin: 0.625em 0;
		  border-top: 1px solid #eee;
		  padding-top: 0.625em;
		}
			  
	  #group-show > div.group > div.right > div.hunches {
		margin: -0.5em;
	  }
	  
		#group-show > div.group > div.right > div.hunches > div.hunch {
		  float: none;
		  width: auto;
		}
	  
		  #group-show > div.group > div.right > div.hunches > div.hunch> div {
			background: #f8f8f8;
			border: 1px solid #ddd;
			margin-top: 1em;
			padding: 0.5em;
			margin: 0.5em;
		  }
	  
			#group-show > div.group > div.right > div.hunches > div.hunchimg.logo {
			  border: 1px solid #ddd;
			  margin-right: 0.5em;
			  float: left;
			}
	  
			#group-show > div.group > div.right > div.hunches > div.hunchh3 {
			  font-size: 160%;
			  margin-bottom: 0.3125em;
			}
	  
			  #group-show > div.group > div.right > div.hunches > div.hunchh3 a {
				text-decoration: none;
			  }
	  
			#group-show > div.group > div.right > div.hunches > div.hunchdiv.desc {
			  line-height: 1.25;
			  font-size: 80%;
			  height: 3.75em;
			  overflow: hidden;
			}
	  
			#group-show > div.group > div.right > div.hunches > div.hunchul.stats {
			  margin-top: 0.625em;
			  font-size: 80%;
			}
	  
			  #group-show > div.group > div.right > div.hunches > div.hunchul.stats li {
				display: block;
				float: left;
				border-right: 1px solid #ccc;
				padding-right: 0.5em;
				margin-right: 0.5em;
				color: #666;
			  }
	  
				#group-show > div.group > div.right > div.hunches > div.hunchul.stats li:last-child {
				  border-right: none;
				  padding-right: 0;
				  margin-right: 0;
				}
	  
			  #group-show > div.group > div.right > div.hunches > div.hunchul.stats li:last-child {
				border-right: none;
				padding-right: 0;
				margin-right: 0;
			  }

