article.hunch { }

  article.hunch > header {
    text-align: center;
    color: #999;
    padding: 2em;
    border-bottom: 1px dotted #ccc;
  }

    article.hunch > header > div {
      display: inline-block;
    }

      article.hunch > header > div > h1 {
        font-size: 250%;
      }

        article.hunch > header > div > h1 > a {
          text-decoration: none;
          color: #000;
        }

      article.hunch > header > div > div.cite {
        text-align: right;
        margin-top: 0.5em;
        padding-right: 1em;
      }

  article.hunch > section.evidence {
    border-bottom: 1px dotted #ccc;
    padding: 2em 2em 2em 3em;
    overflow: hidden;
  }

    article.hunch > section.evidence > div {
      width: 50%;
      float: left;
    }

    article.hunch > section.evidence > div.for {
      margin-left: -1em;
      padding-right: 1em;
    }

      article.hunch > section.evidence > div > h2 {
        text-align: center;
        font-size: 160%;
        color: #999;
      }

        article.hunch > section.evidence > div > h2 > span {
          font-weight: bold;
          color: #000;
        }
        
      article.hunch > section.evidence > div > article.evidence {
        margin-top: 1em;
      }


article.evidence {
  background: #eee;
}

  article.evidence > div {
    position: relative;
  }

    article.evidence > div > .embed {
      display: block;
      text-align: center;
      border: 1px solid #ccc;
      padding: 1px;
    }

      article.evidence > div > div.embed img {
        display: block;
      }

    article.evidence > div > section.desc {
      line-height: 1.4;
      margin: 0.5em;
      color: #999;
    }
    
    article.evidence > div > header,
    article.evidence > div > ul.meta {
      display: none;
      position: absolute;
      text-align: center;
      left: 0;
      width: 100%;
      background: #000;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
    }

    article.evidence > div > header {
      top: 0;
      font-size: 125%;
      padding: 0.8em 0;
    }

    article.evidence > div > ul.meta {
      bottom: 0;
      font-size: 80%;
      padding: 0.625em 0;
    }

      article.evidence > div > ul.meta > li {
        display: inline-block;
        margin-right: 1em;
      }
      
      article.evidence > div > ul.meta > li:last-child {
        margin-right: 0;
      }

    article.evidence > div:hover > header,
    article.evidence > div:hover > ul.meta {
      display: block;
    }

  article.evidence > section.comments {
    margin-top: 0.5em;
  }

    article.evidence > section.comments > ul { }

      article.evidence > section.comments > ul > li.comment {
        
      }


    /*#page > header {
      padding-top: 1em;
      padding-bottom: 2em;
      margin-bottom: 2em;
      border-bottom: 1px dotted #ccc;
    }

      #page > header > ul.tags {
        margin-top: 0.5em;
      }*/
      
      
      
/*div.hunches {
  margin: -0.5em;
}

  div.hunch {
    float: left;
    width: 50%;
  }

    div.hunch > div {
      background: #f8f8f8;
      border: 1px solid #ddd;
      margin-top: 1em;
      padding: 0.5em;
      margin: 0.5em;
    }

      div.hunch img.logo {
        border: 1px solid #ddd;
        margin-right: 0.5em;
        float: left;
      }

      div.hunch h3 {
        font-size: 160%;
        margin-bottom: 0.3125em;
      }

        div.hunch h3 a {
          text-decoration: none;
        }

      div.hunch div.desc {
        line-height: 1.25;
        font-size: 80%;
        height: 3.75em;
        overflow: hidden;
      }

      div.hunch ul.stats {
        margin-top: 0.625em;
        font-size: 80%;
      }

        div.hunch ul.stats li {
          display: block;
          float: left;
          border-right: 1px solid #ccc;
          padding-right: 0.5em;
          margin-right: 0.5em;
          color: #666;
        }

          div.hunch ul.stats li:last-child {
            border-right: none;
            padding-right: 0;
            margin-right: 0;
          }

		div.hunch ul.stats li:last-child {
		  border-right: none;
		  padding-right: 0;
		  margin-right: 0;
		}

#hunch-show { }

  #hunch-show h2 {
    font-size: 125%;
  }

  #hunch-show> .left,
  #hunch-show > .right {
    float: left;
  }

    #hunch-show> .left {
      width: 60%;
    }

      #hunch-show> .left > h1 {
        margin-bottom: 0.25em;
      }

      #hunch-show> .left > div { }

        #hunch-show> .left > div > p {
          margin-top: 0.5em;
          line-height: 1.4;
        }

      #hunch-show> .left > div.privacy {
        background: #eee;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin: 2em 0;
        padding: 1em;
      }

        #hunch-show > .left > div.privacy.open {
          background-color: #efe;
          border-color: #ded;
        }

        #hunch-show > .left > div.privacy.closed {
          background-color: #ffe;
          border-color: #eed;
        }

        #hunch-show > .left > div.privacy.hidden {
          background-color: #fee;
          border-color: #edd;
        }

        #hunch-show> .left > div.privacy h2 {
          display: none;
        }

        #hunch-show> .left > div.privacy > h3 {
          font-size: 200%;
          line-height: 1.25em;
          border-right: 1px dotted #ccc;
          padding-right: 0.5em;
          margin-right: 0.5em;
          color: #999;
          float: left;
        }

          #hunch-show > .left > div.privacy.open   > h3 { color: #6c6; }
          #hunch-show > .left > div.privacy.closed > h3 { color: #cc6; }
          #hunch-show > .left > div.privacy.hidden > h3 { color: #c66; }

        #hunch-show> .left > div.privacy > p {
          line-height: 1;
        }

          #hunch-show> .left > div.privacy > p.summary {
            margin-top: 0;
          }

      #hunch-show> .left > div.evidence {
        margin-top: 2em;
      }

        #hunch-show> .left > div.evidence > ul { }

          #hunch-show> .left > div.evidence > ul > li {
            display: block;
            padding-left: 7em;
            padding-top: 1em;
            margin-top: 1em;
            border-top: 1px dotted #ccc;
          }

            #hunch-show> .left > div.evidence > ul > li:first-child {
              border-top: none;
              padding-top: 0;
            }

            #hunch-show> .left > div.evidence > ul > li > div.left {
              text-align: center;
              float: left;
              width: 6em;
              margin-left: -7em;
            }

              #hunch-show> .left > div.evidence > ul > li > div.left > .support,
              #hunch-show> .left > div.evidence > ul > li > div.left > .confidence {
                border: 1px solid #ddd;
                background: #eee;
                padding: 0.5em 0;
              }

              #hunch-show> .left > div.evidence > ul > li > div.left > .support {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
              }

              #hunch-show> .left > div.evidence > ul > li > div.left > .confidence {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                border-top: none;
              }

                #hunch-show> .left > div.evidence > ul > li > div.left > div > div {
                  font-size: 200%;
                  font-weight: bold;
                  color: #fff;
                  text-shadow: 0 0 5px #999;
                }

                #hunch-show> .left > div.evidence > ul > li > div.left > div > span {
                  display: block;
                  margin-top: 0.3125em;
                  font-size: 80%;
                  color: #999;
                }

            #hunch-show> .left > div.evidence > ul > li > div.right {
              float: left;
            }

              #hunch-show> .left > div.evidence > ul > li > div.right > h3 {
                font-size: 125%;
                margin-bottom: 0.4em;
              }

              #hunch-show> .left > div.evidence > ul > li > div.right > ul.meta > li {
                font-size: 80%;
                display: inline-block;
                margin-top: 0.625em;
                padding: 0.3125em;
                background: #eee;
                color: #999;
              }

                #hunch-show> .left > div.evidence > ul > li > div.right > ul.meta > li span {
                  color: #bbb;
                }

      #hunch-show> .left > div.comments {
        margin-top: 2em;
      }

        #hunch-show> .left > div.comments > h2 { }

        #hunch-show> .left > div.comments > p {
          font-size: 80%;
          line-height: 1.2;
          margin: 0.625em 0;
        }


    #hunch-show > .right {
      box-sizing: border-box;
      padding-left: 2em;
      width: 40%;
    }

      #hunch-show > .right > div {
        background: #eee;
        padding: 1em;
        margin-bottom: 1em;
      }

        #hunch-show > .right > div > h2 { }

          #hunch-show > .right > div > p {
            font-size: 80%;
            margin: 0.625em 0;
            line-height: 1.2;
          }

          #hunch-show > .right > div > ul.type {
            margin-bottom: 0.5em;
            margin-top: 1em;
            padding-left: 2em;
            overflow: hidden;
          }

            #hunch-show > .right > div > ul.type > li {
              display: block;
              float: left;
              background: #ccc;
              box-sizing: border-box;
              text-align: center;
              padding: 0.5em;
              margin-left: 1em;
              width: 33.33%;
            }

              #hunch-show > .right > div > ul.type > li:first-child {
                margin-left: -2em;
              }

          #hunch-show > .right > div > ul.hunches {
            background: #fff;
            border: 1px solid #ccc;
            padding: 0 1em;
          }

            #hunch-show > .right > div > ul.hunches > li {
              border-bottom: 1px dotted #ccc;
              list-style: none;
              padding: 1em 0;
            }

              #hunch-show > .right > div > ul.hunches > li > h3 {
                font-weight: bold;
                margin-top: -0.1em;
                line-height: 1.2;
              }

              #hunch-show > .right > div > ul.hunches > li > ul.meta {
                margin-left: 1.5em;
                margin-top: 0.3em;
                color: #666;
              }

                #hunch-show > .right > div > ul.hunches > li > ul.meta > li {
                  font-size: 80%;
                  margin-top: 0.3125em;
                  list-style-type: disc;
                }

            #hunch-show > .right > div > ul.hunches > li:last-child {
              border-bottom: none;
            }


      #hunch-show > .right > div.location {
        background: none;
        padding: 0;
      }

        #hunch-show > .right > div.location > h2 {
          display: none;
        }

        #hunch-show > .right > div.location > div.map {
          border: 2px solid #eee;
          border-bottom: 0;
          height: 100px;
        }

        #hunch-show > .right > div.location > div.expand {
          background: #eee;
          font-size: 80%;
          padding: 0.625em;
          text-align: center;
        }

          #hunch-show > .right > div.location > div.expand > a {
            text-decoration: none;
            color: #999;
          }




form.hunch { }

  form.hunch > div.left,
  form.hunch > div.right {
     float: left;
   }

  form.hunch > div.left {
    width: 60%;
  }

  form.hunch > div.right {
    width: 40%;
    box-sizing: border-box;
    padding-left: 2em;
  }

  form.hunch #id_title {
    font-size: 125%;
    padding: 0.8em;
  }*/