nav.user {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 80%;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
}

  nav.user > ul {
    overflow: hidden;
    padding: 2px;
  }

    nav.user > ul > li {
      display: block;
      float: left;
      padding: 1px;
      border-radius: 3px;
      color: #666;
    }

      nav.user > ul > li > a {
        display: block;
        padding: 0.5em;
        text-decoration: none;
      }

    nav.user > ul > li.active {
      background: #fff;
      border: 1px solid #ccc;
      padding: 0;
      color: #000;
    }

    nav.user > ul > li:not(.active):hover {
      background: #eee;
      border: 1px solid #ccc;
      padding: 0;
    }

nav.site {
  position: relative;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #aaa;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
}

  nav.site > ul {
    padding: 2px 0.5em;
    overflow: hidden;
  }

    nav.site > ul > li {
      display: block;
      float: left;
      padding: 1px;
      border-radius: 3px;
      margin-right: 1px;
      color: #666;
    }

      nav.site > ul > li > a {
        display: block;
        padding: 0.5em;
        text-decoration: none;
      }

    nav.site > ul > li.active {
      background: #fff;
      border: 1px solid #ccc;
      padding: 0;
      color: #000;
    }

    nav.site > ul > li:not(.active):hover {
      background: #eee;
      border: 1px solid #ccc;
      padding: 0;
    }

  nav.site > ul.secondary {
    position: absolute;
    top: 0;
    right: 0;
  }