<article class="event comment-posted-hunchevidence">
  {% include "includes/users/short.html" with object=comment.creator %}

  <div>
    <p class="summary">
      <a href="{% url profile comment.creator.pk %}">{{ comment.creator }}</a>
      <span>commented</span> on
      <a href="{% url hunch comment.hunch_evidence.hunch.pk %}" title="{{ comment.hunch_evidence }} on {{ comment.hunch_evidence.hunch }}">hunch evidence</a>
      <time class="timeago" datetime="{{ now|date:"c" }}">{{ now }}</time>
    </p>

    <h2><a href="{{ comment.get_absolute_url }}">{{ comment.text }}</a></h2>
  </div>
</article>
