<article class="event evidence-attached">
  {% include "includes/users/short.html" with object=hunch_evidence.creator %}

  <div>
    <p class="summary">
      <a href="{% url profile hunch_evidence.creator.pk }}">{{ hunch_evidence.creator }}</a>
      attached <span>evidence</span> to
      <a href="{% url hunch hunch_evidence.hunch.pk %}" title="{{ hunch_evidence.hunch }}">a hunch</a>
      <time class="timeago" datetime="{{ now|date:"c" }}">{{ now }}</time>
    </p>

    <h2><a href="{{ hunch_evidence.get_absolute_url }}">{{ hunch_evidence.evidence }}</a></h2>
  </div>
</article>
