{% extends "base.html" %}

{% block title %}
  Your Connections &mdash;
  {{ block.super }}
{% endblock %}

{% block header %}
  {{ block.super }}
  <h1>Your Connections</h1>
{% endblock %}

{% block content %}
  <div class="connections">
    {% if connected_profiles %}
      {% for connection in connected_profiles %}
        <div class="connection">
          <a href="{{ connection.get_absolute_url }}">
            <img src="{{ connection.profile_picture_url }}" width="163">
            <span>{{ connection }}</span>
          </a>
        </div>
      {% endfor %}
    {% else %}
      <div class="empty-list">
        You don't have any connections.
      </div>
    {% endif %}
  </div>
{% endblock %}