{% extends "base.html" %}
{% load paginator_tags %}

{% block body_id %}connection-list{% endblock %}

{% block title %}
  Your Connections &mdash;
  {{ block.super }}
{% endblock %}

{% block header %}
  {{ block.super }}
  <h1>Your Connections</h1>
{% endblock %}

{% block content %}
  <h2>My <span>Connections</span></h2>

  {% if connection_list.object_list %}
    {% include "includes/users/list.html" with object_list=connection_list.object_list %}
  {% else %}
    <div class="empty-list">
      You don't have any connections.
    </div>
  {% endif %}
{% endblock %}

{% block links %}
  <nav class="links">
    {% paginator connection_list %}
  </nav>
{% endblock %}
