{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/static/profile.css" type="text/css"/>
{% endblock %}

{% block secondary_nav %}
  <ul class="secondary">
    {% if not_me %}
      {% if connected %}
        <li><a href="{% url remove user_profile.pk %}">Remove Connection</a></li>
      {% else %}
        <li><a href="{% url connect user_profile.pk %}">Add Connection</a></li>
      {% endif %}
    {% endif %}
  </ul>
{% endblock %}

{% block content %}
  <div id='contents'>
	<div id='column1'>
	  Welcome {{ user.first_name }} to HunchWorks!
	  <div id='profile'>
		<h3>Your Profile:</h3>
		<div class='field'>
		  <b>Profile Picture:</b> 
		  {% if user_profile.profile_picture %}
            <br />
            <img src="{{ user_profile.profile_picture.url }}" width="100"/>
          {% else %}
            No profile picture selected
		  {% endif %}
		</div>
		<div class='field'>
		  <b>First Name:</b> 
		  {{ user.first_name }}
		</div>
		<div class='field'>
		  <b>Last Name:</b> 
		  {{ user.last_name }}
		</div>
		<div class='field'>
		  <b>Email:</b> 
		  {% if user.email %}
            {{ user.email }}
		  {% endif %}
		</div>
		<div class='field'>
		  <b>Occupation:</b> 
		  {% if occupation %}
			{{ user.occupation }}
		  {% else %}
			Occupation not entered
		  {% endif %}
		</div>
		<div class='field'>  
		  <b>Hometown:</b> 
		  {% if hometown %}
			{{ user.hometown }}
		  {% else %}
			Hometown not entered
		  {% endif %}
		</div>
		<div class='field'>
		  <b>Education:</b>
		  {% if education %}
			{{ user.education }}
		  {% else %}
			Education not entered
		  {% endif %}
		</div>
		<div class='field'>
		  <b>Phone Number:</b>
		  {% if phone_number %}
			{{ user.phone_number }}
		  {% else %}
			Phone Number not entered
		  {% endif %}
		</div>
		<div class='field'>
		  <b>Organization:</b>
		  {% if organization %}
			{{ user.organization }}
		  {% else %}
			Organization not entered
		  {% endif %}
		</div>
		<div class='field'>
		  <b>About Yourself:</b>
		  {% if bio_text %}
			{{ user.bio_text }}
		  {% else %}
			Biography not entered
		  {% endif %}
		</div>
		<div class='field'>
		  <b>Work History:</b>
		  {% if work_history %}
			{{ user.work_history }}
		  {% else %}
			Work history not entered
		  {% endif %}
		</div>
		<div class='field'>
		  <b>Skype:</b>
		  {% if skype_name %}
			{{ user.skype_name }}
		  {% else %}
			Skype name not entered
		  {% endif %}
		</div>
		<div class='field'>
		  <b>Instant Messanger:</b>
		  {% if instant_messanger %}
			{{ user.instant_messanger }}
		  {% else %}
			Instant Messanger not entered
		  {% endif %}
		</div>
		<div class='field'>
		  <b>Website:</b>
		  {% if website %}
			{{ user.website }}
		  {% else %}
			Website not entered
		  {% endif %}
		</div>
		<div class='field'>
		  <b>Expertise:</b>
		  {% if expertise %}
			{{ user.expertise }}
		  {% else %}
			Expertise not entered
		  {% endif %}
		</div>
		<div class='field'>
		  <b>Location interests:</b>
		  {% if location_interests %}
			{{ user.location_interests }}
		  {% else %}
			Location Interests not entered
		  {% endif %}  
		</div>
        <a href="/profile/edit">Edit your profile...</a>
	  </div> <!-- end profile div -->
	  <div id='invite'>
	    <form method='post' action='../invitePeople'>{% csrf_token %}
		<h3>Invite People to HunchWorks</h3>
		  {{ invite_form }}
		  <!--<textarea rows='10' cols='30'>type each email here separated by a comma
		  </textarea>-->
		  <input type='submit' value='Invite your friends!'/>
		  <!-- 1. Check data to make sure it is inputed correctly. If not throw error. 
			  Should be name@blah.com, name@yahoo.com, etc...
			2. String parse the string on the value ', ' to get each value.
			3. Send invites to each email.
			4. Append original string into variable hasInvited of user's DB, required a
			  select and insert.
		  -->
		</form>
	  </div> <!-- end invite div -->
	</div> <!-- end column1 div -->
	<div id='column2'>
	  <button id='createHunchButton' type='button'
		onclick="location.href='/hunches/create'"> Create a Hunch! </button>
	  <!-- Link to the createHunch page -->

	  <div id='matchingHunches'>
		<h3>Hunches matching your expertise</h3>
		<ol id='matchingHunchesList'>
        {% for hunch in hunches %} 
            <li><a id='linkToMatchingHunch{{forloop.counter}}' href='/hunches/{{hunch.id}}'>
	       {{hunch.title}}</a></li>
        {% endfor %}
		</ol>
	  </div> <!-- end matchingHunches div -->
	</div> <!-- end column2 div -->
  </div> <!-- end contents div -->

{% endblock %}
