{% extends "base.html" %}
{% load markup %}

{% block body_id %}profile-show{% endblock %}
{% block title %}Profile{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/static/profile.css" type="text/css"/>
{% endblock %}

{% block secondary_navx %}
  <ul class="secondary">
    {% if not_me %}
      {% if connected %}
        <li><a href="{% url remove user_profile.pk %}">Remove Connection</a></li>
      {% else %}
        <li><a href="{% url connect user_profile.pk %}">Add Connection</a></li>
      {% endif %}
    {% endif %}
  </ul>
{% endblock %}

{% block content %}
  <div class="left">
    <article class="profile">
      {% if user_profile.profile_picture %}
        <img src="{{ user_profile.profile_picture.url }}" width="100%">
      {% else %}
        <div class="no-img">
          This user doesn't have a profile picture.
        </div>
      {% endif %}

      <h3>{{ user_profile }}</h3>
      {% if user_profile.bio_text %}
        <section class="bio">
          {{ user_profile.bio_text|markdown }}
        </section>
      {% endif %}
    </article>
  </div>
  <div class="right">
    <h2>{{ user_profile }}'s <span>Hunches</span></h2>
    {% include "includes/hunches/list.html" with object_list=user_profile.hunch_set.all %}
  </div>
{% endblock %}
