{% extends "base.html" %}

{% block content %}
  <div id="auth-login">
    <h2>Log in to HunchWorks</h2>
    <p>
      Don't have a user account?
      <a href="{% url signup %}">Sign up!</a>
    </p>

    <form action="" method="post">
      {{ form.non_field_errors }}
      {% csrf_token %}

      {% for field in form %}
        {% include "includes/fields/base.html" %}
      {% endfor %}

      <div class="actions">
        <input type="submit" value="Log in"/>
      </div>
    </form>
  </div>
{% endblock %}
