{% extends "base.html" %}

{% block title %}
  Sign Up &mdash;
  {{ block.super }}
{% endblock %}

{% block header %}
  {{ block.super }}
  <h1>Sign Up</h1>
{% endblock %}

{% block content %}
  <form action="" method="post" class="auth signup">
    <section class="help_text">
      <p>
        HunchWorks is currently in closed alpha, so all users are required to
        sign up before participating. This will change in the near future.
      </p>
    </section>

    {{ form.non_field_errors }}
    {% csrf_token %}

    <div class="fields">
      {% for field in form %}
        {% include "includes/fields/base.html" %}
      {% endfor %}
    </div>

    <div class="actions">
      <input type="submit" value="Sign up"/>

      <p>
        Already have a user account?
        <a href="{% url login %}">Log in!</a>
      </p>
    </div>
  </form>
{% endblock %}
