{% extends "hunches/base.html" %}

{% block header %}
  {{ block.super }}
  <h1>Create a Hunch</h1>
{% endblock %}

{% block content %}
  <form action="" method="post" class="create hunch">
    <section class="help_text">
      <p>
        Creating a hunch is the primary method of discussing an idea in the
        HunchWorks community. Clearly state your hypothesis, try to prove (or
        disprove) it by attaching and voting on evidence, and invite other users
        and groups to do the same.
      </p>
    </section>

    {% include "hunches/form.html" %}

    <div class="actions">
      <input type="button" value="Cancel">
      <input type="button" value="Save as Draft" disabled>
      <input type="submit" value="Create Hunch">
    </div>
  </form>
{% endblock %}