{% extends "hunches/base.html" %}

{% block header %}
  {{ block.super }}
  <h1>Edit a Hunch</h1>
{% endblock %}

{% block content %}
  <form action="" method="post" class="edit hunch">
    {{ form.non_field_errors }}
    {% csrf_token %}
    
    {% for field in form.hidden_fields %}
      {{ field }}
    {% endfor %}
    
    <div class="fields">
      <div class="left">
        {% include "includes/fields/base.html" with field=form.title %}
        {% include "includes/fields/base.html" with field=form.description %}
        {% include "includes/fields/base.html" with field=form.evidences %}
      </div>
      <div class="right">
        {% include "includes/fields/base.html" with field=form.location %}
        {% include "includes/fields/base.html" with field=form.tags %}
      </div>
    </div>

    <div class="actions">
      <input type="submit" value="Edit Hunch">
    </div>
  </form>
{% endblock %}
