{% for hunch_evidence, comments, comment_form, vote_form in evidences %}
  <article class="evidence">
    <div>
      <a href="{{ hunch_evidence.evidence.link }}" class="embed">{{ hunch_evidence.evidence.link }}</a>

      <header>
        <h3>{{ hunch_evidence.evidence.description }}</h3>
      </header>

      <!--<section class="desc">
        <p>{{ hunch_evidence.evidence.description }}</p>
      </section>-->

      <ul class="meta">
        <li class="source"><span>Source:</span> <a href="{{ hunch_evidence.evidence.link }}">{{ hunch_evidence.evidence.short_link }}</a></li>
        <li class="date"><span>Posted:</span> {{ hunch_evidence.evidence.time_created|date:"j F Y" }}</li>
        <li class="creator"><span>By:</span> <a href="{{ hunch_evidence.evidence.creator.get_absolute_url }}">{{ hunch_evidence.evidence.creator }}</a></li>
      </ul>
    </div>

    <section class="vote">
      <form action="" method="POST">
        {{ vote_form.non_field_errors }}
        {% csrf_token %}

        {% for field in vote_form.hidden_fields %}
          {{ field }}
        {% endfor %}

        {% for field in vote_form.visible_fields %}
          {% include "includes/fields/base.html" %}
        {% endfor %}

        <input type="hidden" name="action" value="vote">
        <input type="submit" value="Vote"/>
      </form>
    </section>

    <section class="comments">
      <ul>
        {% for comment in comments.all %}
          <li>
            {% include "comments/comment.html" %}
          </li>
        {% endfor %}

        <li>
          {% include "comments/form.html" %}
        </li>
      </ul>
    </section>
  </article>
{% endfor %}