{% extends "hunches/base.html" %}
{% block body_id %}hunch-list{% endblock %}
{% load paginator_tags %}

{% block content %}
  {% block header %}
  {% endblock %}

  {% if hunches.object_list %}
    {% include "includes/hunches/list.html" with object_list=hunches.object_list %}
  {% else %}
    {% block empty %}
    {% endblock %}
  {% endif %}
{% endblock %}

{% block links %}
  <nav class="links">
    <ul>
      <li><a href="{% url create_hunch %}">Create a Hunch</a></li>
    </ul>
  
    {% paginator hunches %}
  </nav>
{% endblock %}
