{% extends "hunches/base.html" %}
{% block body_id %}hunch-list{% endblock %}
{% load paginator_tags %}

{% block content %}
  <section class="hunch-list">
    {% for hunch in hunches.object_list %}
      <article class="hunch">
        <h2><a href="{{ hunch.get_absolute_url }}">{{ hunch }}</a></h2>

        {% if hunch.description %}
          <section class="desc">
            {{ hunch.description|truncatewords:60|safe }}
          </section>
        {% endif %}

        <ul class="stats">
          <li>{{ hunch.member_count }} members</li>
          <li>{{ hunch.evidence_count }} evidence</li>
        </ul>
      </article>
    {% endfor %}
  </section>

  <div class="links">
    <ul>
      <li><a href="{% url create_hunch %}">Add a Hunch</a></li>
    </ul>

    {% paginator hunches %}
  </div>
{% endblock %}