{% extends "base.html" %}

{% block content %}
  <div id="hunch-show">
    <div class="left">
      <h1><a href="{{ hunch.get_absolute_url }}">{{ hunch }}</a></h1>
      <ul class="tags">
        {% for tag in hunch.tags.all %}
          <li>{{ tag }}</li>
        {% endfor %}
      </ul>

      {% if hunch.privacy == 2 %}
        <div class="privacy open">
          <h2>Privacy</h2>
          <h3>Open</h3>

          <p class="summary">
            Anyone may view and contribute to this hunch.
          </p>

          <p class="shared-with">
            Shared with
            {% for user_profile in hunch.user_profiles.all %}
              <a href="{{ user_profile.get_absolute_url }}">{{ user_profile }}</a>
            {% endfor %}
          </p>
        </div>
      {% endif %}
      {% if hunch.privacy == 1 %}
        <div class="privacy closed">
          <h2>Privacy</h2>
          <h3>Closed</h3>

          <p class="summary">
            Anyone may view, but only invited users can contribute.
          </p>

          <p class="shared-with">
            Shared with
            <a href="">Adam Mckaig</a>,
            <a href="">Chris Blumberg</a>
            and <a href="">5 others</a>
          </p>
        </div>
      {% endif %}
      {% if hunch.privacy == 0 %}
        <div class="privacy hidden">
          <h2>Privacy</h2>
          <h3>Hidden</h3>

          <p class="summary">
            This hunch is private. Only invited users can view it.
          </p>

          <p class="shared-with">
            Shared with
            <a href="">Adam Mckaig</a>,
            <a href="">Chris Blumberg</a>
            and <a href="">5 others</a>
          </p>
        </div>
      {% endif %}

      <div class="desc">
        {{ hunch.description }}
      </div>

      <div class="evidence">
        <ul>
          {% for evidence in hunch.evidences.all %}
            <li class="tweet">
              <div class="left">
                <div class="support">
                  <div>+{{ evidence.strength }}</div>
                  <span>Strongly Supports</span>
                </div>
                <div class="confidence">
                  <div>40%</div>
                  <span>Confidence</span>
                </div>
              </div>
              <div class="right">
                <h3>&quot;{{ evidence }}&quot;</h3>
                <ul class="meta">
                  <li class="type">Tweet</li>
                  <li class="source"><a href="">http://twitter.com/kanyewest</a></li>
                  <li class="date">13 June 1984</li>
                </ul>
              </div>
              <div class="clear-hack"></div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="right">
      <div>
        <h2>Related Hunches</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo ligula, elementum id sodales pellentesque, pellentesque quis nisl. Donec sit amet nibh ipsum, id pulvinar velit.</p>

        <ul class="type">
          <li>By Keywords</li>
          <li>By Location</li>
          <li>By Evidence</li>
        </ul>

        <ul class="hunches">
          <li>
            <h3>Something Related</h3>
            <ul class="meta">
              <li>by <a href="">Adam Mckaig</a> and 10 others</li>
              <li>10 pieces of evidence</li>
              <li>25 comments</li>
            </ul>
          </li>
          <li>
            <h3>Another Related Thing With a Much Longer Title Than the First</h3>
            <ul class="meta">
              <li>by <a href="">Adam Mckaig</a> and 10 others</li>
              <li>10 pieces of evidence</li>
              <li>25 comments</li>
            </ul>
          </li>
          <li>
            <h3>The Final Related Thing</h3>
            <ul class="meta">
              <li>by <a href="">Adam Mckaig</a> and 10 others</li>
              <li>10 pieces of evidence</li>
              <li>25 comments</li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="location">
        <h2>Location</h2>
        <div class="map"></div>
        <div class="expand">
          <a href="">Expand</a>
        </div>
      </div>

      <script>
        $(function() {
          $("div.map").each(function() {
            var nyc = new google.maps.LatLng(
              40.716667, -74);

            var map = new google.maps.Map(this, {
              "disableDefaultUI": true,
              "mapTypeId": google.maps.MapTypeId.TERRAIN,
              "center": nyc,
              "zoom": 13
            });

            new google.maps.Marker({
              "position": nyc,
              "map": map
            });
          });
        });
      </script>
    </div>
    <div class="clear-hack"></div>

    <div class="links">
      <ul>
        <li><a href="{% url edit_hunch hunch.pk %}">Edit this Hunch</a></li>
      </ul>
      <div class="clear-hack"></div>
    </div>
  </div>
{% endblock %}