{% extends "hunches/base.html" %}
{% load bookmark_tags %}

{% block body_id %}hunch-show{% endblock %}

{% block title %}
  Show a Hunch &mdash;
  {{ block.super }}
{% endblock %}

{% block header %}
  {{ block.super }}
  <h1>Show a Hunch</h1>
{% endblock %}

{% block content %}
  <article class="hunch">
    <header>
      <div>
        <h1>&#8220;<a href="{{ hunch.get_absolute_url }}">{{ hunch }}</a>&#8221;</h1>
        <div class="cite">&mdash; {{ hunch.creator }}, {{ hunch.time_created|date:"j F Y" }}</div>
      </div>
      <!--<ul class="tags">
        {% for tag in hunch.tags.all %}
          <li>{{ tag }}</li>
        {% endfor %}
      </ul>-->
    </header>

    {% if hunch.description %}
      <section class="desc">
        <p>{{ hunch.description }}</p>
      </section>
    {% endif %}

    <section class="meta">
      <div class="support">
        <div>
          <h2>{{ hunch.get_support_text }}</h2>
          <p>{{ hunch.get_verbose_support_text }}</p>
        </div>
      </div>
      <div class="controversy">
        <div>
          <h2>{{ hunch.get_controversy_text }}</h2>
          <p>{{ hunch.get_verbose_controversy_text }}</p>
        </div>
      </div>
      <div class="activity">
        <div>
          <h2>{{ hunch.get_activity_text }}</h2>
          <p>{{ hunch.get_verbose_activity_text }}</p>
        </div>
      </div>
      <div class="privacy">
        <div>
          <h2>{{ hunch.privacy_text }}</h2>
          <p>Any HunchWorks member may view and contribute to this hunch.</p>
        </div>
      </div>
    </section>

    <section class="evidence">
      <div class="for">
        <h2>Evidence <span>for</span> this hunch</h2>
        <div class="add"><a href="{% url add_hunch_evidence hunch.pk %}">Add more supporting evidence</a></div>
        {% if evidences_for %}
          {% include "hunches/evidences.html" with evidences=evidences_for %}
        {% else %}
          <div class="empty-list">
            <p>No supporting evidence has been added yet.</p>
          </div>
        {% endif %}
      </div>
      <div class="against">
        <h2>Evidence <span>against</span> this hunch</h2>
        <div class="add"><a href="{% url add_hunch_evidence hunch.pk %}">Add more refuting evidence</a></div>
        {% if evidences_against %}
          {% include "hunches/evidences.html" with evidences=evidences_against %}
        {% else %}
          <div class="empty-list">
            <p>No refuting evidence has been added yet.</p>
          </div>
        {% endif %}
      </div>
    </section>
    <script>
      $(function() {
        $("article.evidence > div > a.embed").each(function() {
          $(this).embedly({
            "key": window.hunchworks.embedly_key,
            "maxWidth": $(this).width(),
            "maxHeight": 9999,
            "embedly_wmode": "transparent"
          });
        });

        $("article.evidence div.vote-widget input").click(function() {
          $(this).closest("form").submit();
        });
      });
    </script>
    <section class="hunch-comments">
      <ul>
        {% for comment in hunch.comment_set.all %}
          <li>
            {% include "comments/comment.html" %}
          </li>
        {% endfor %}

        <li>
          <form action="" method="post" class="comment{% if comment_form.errors %} errors{% endif %}">
            {% include "includes/users/short.html" with object=request.user.get_profile %}

            <div class="bubble">
              <div class="arrow"></div>
              {{ hunch_comment_form.non_field_errors }}
              {% csrf_token %}

              {% for field in hunch_comment_form.hidden_fields %}
                {{ field }}
              {% endfor %}

              {% for field in hunch_comment_form.visible_fields %}
                {% include "includes/fields/base.html" %}
              {% endfor %}

              <div class="submit-trigger"></div>

              <div class="actions">
                <input type="hidden" name="action" value="hunch_comment">
                <input type="submit" value="&raquo;">
              </div>
            </div>
          </form>
        </li>
      </ul>
    </section>

    <div class="links">
      <ul>
        <li><a href="{% url add_hunch_evidence hunch.pk %}">Add Evidence to This Hunch</a></li>
        <li><a href="{% url hunch_permissions hunch.pk %}">Edit Permissions</a></li>
        <li><a href="{% url edit_hunch hunch.pk %}">Edit This Hunch</a></li>
      </ul>
    </div>

    {% bookmarks hunch %}
  </article>
{% endblock %}