{% extends "evidences/base.html" %}

{% block header %}
  {{ block.super }}
  <h1>Create an Evidence</h1>
{% endblock %}

{% block content %}
  <div id="evidence-create">
    <form action="" method="post" class="create evidence">
      {% include "evidences/form.html" %}

      <div class="actions">
        <input type="submit">
      </div>
    </form>
    <form action="{% url worldbank_indicators %}" method="get">
      <input id="indicator" type="text" name="q"/>
    </form>
    <script>
      $(function(){
        var data = "Core Selectors Attributes Traversing Manipulation CSS Events Effects Ajax Utilities".split(" ");
        $("#indicator").autocomplete({source: {{ data_refined|safe }} });
      });
    </script>
  </div>
{% endblock %}