{% extends "evidences/base.html" %}
{% load paginator_tags %}
{% load bookmark_tags %}

{% block body_id %}evidence-list{% endblock %}

{% block header %}
  {{ block.super }}
  <h1>All Evidences</h1>
{% endblock %}

{% block content %}
  {% if evidences.object_list %}
    {% include "includes/evidences/list.html" with object_list=evidences.object_list %}

    <script>
      $(function() {
        $("a.embed").each(function() {
          $(this).embedly({
            "key": window.hunchworks.embedly_key,
            "success": function(oembed, dict) {

              /* If this link has a thumbnail, insert it into the DOM. Otherwise,
              |* leave it as it is (which is hidden by CSS). */
              if(oembed.thumbnail_url) {
                var $img = $("<img>").attr("src", oembed.thumbnail_url);
                var $div = $("<div>").addClass("embed").append($img);
                $(dict.node).replaceWith($div);
              }
            }
          });
        });
      });
    </script>
  {% else %}
    <div class="empty-list">
      No evidence has been created yet.
    </div>
  {% endif %}

  <div class="links">
    <ul>
      <li><a href="{% url create_evidence %}">Create an Evidence</a></li>
    </ul>

    {% paginator evidences %}
  </div>
</div>
{% endblock %}