{% extends "evidences/base.html" %}
{% load bookmark_tags %}

{% block body_id %}evidence-show{% endblock %}

{% block header %}
  {{ block.super }}
  <h1>Show an Evidence</h1>
{% endblock %}

{% block content %}
  <article class="evidence">
    <header>
      <a href="{{ evidence.link }}" class="embed">{{ evidence.link }}</a>
      <h1><a href="{{ evidence.get_absolute_url }}">{{ evidence }}</a></h1>

      {% if evidence.description %}
        <section class="desc">
          {{ evidence.description|truncatewords:60|safe }}
        </section>
      {% endif %}
    </header>

    <!--<ul class="meta">
      <li class="source"><span>Source:</span> <a href="{{ evidence.link }}">{{ evidence.short_link }}</a></li>
      <li class="date"><span>Posted:</span> {{ evidence.time_created|date:"j F Y" }}</li>
      <li class="creator"><span>By:</span> <a href="{{ evidence.creator.get_absolute_url }}">{{ evidence.creator }}</a></li>
    </ul>-->

    {% bookmarks evidence %}
  </article>

  <script>
    $(function() {
      $("a.embed").each(function() {
        $(this).embedly({
          "key": window.hunchworks.embedly_key,
          "maxWidth": $(this).parent().width(),
          "embedly_wmode": "transparent"
        });
      });
    });
  </script>

  <div class="links">
    <ul>
      <li><a href="{% url edit_evidence evidence.pk %}">Edit this Evidence</a></li>
    </ul>
  </div>
{% endblock %}