{% extends "evidences/base.html" %}

{% block header %}
  {{ block.super }}
  <h1>Create an Evidence</h1>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'year');
        data.addColumn('number', 'Brazil');
        data.addRows( {{ data_array|safe }});

        var chart = new google.visualization.LineChart(document.getElementById('worldbank_data'));
        chart.draw(data, {width: 400, height: 240, title: 'Company Performance'});
      }
    </script>
{% endblock %}

{% block content %}
  <div id="worldbank_data"></div>
{% endblock %}