{% extends "base.html" %}
{% block title %}Create a Group{% endblock %}
{% block css %}
  <link rel="stylesheet" href="/static/token-input.css" type="text/css" />
{% endblock %}
{% block js %}
  <script src='/static/createGroup.js'></script>
{% endblock %}
{% block content %}
  <h1 id='userId' user='{{ user_id }}'>
    <a href="{% url groups %}">Groups</a> &raquo; New
  </h1>

  <form action="" method="post">
    {% include "groups/form.html" with form=form only %}

    <div class="actions">
      <input type="submit" value="Create Group">
    </div>
  </form>
{% endblock %}