{% extends "base.html" %}
{% block title %}Create a Group{% endblock %}
{% block css %}
{% endblock %}
{% block js %}
  <script src='/static/editGroup.js'></script>
{% endblock %}
{% block content %}
  <h1 id='groupId' group='{{ group.group_id }}' user='{{ user_id }}'>
    <a href="{% url groups %}">Groups</a> &raquo;
    <a href="{{ group.get_absolute_url }}">{{ group }}</a> &raquo;
    Edit
  </h1>

  <form action="" method="post" class="edit group">
    {% include "groups/form.html" %}

    <div class="actions">
      <input type="submit" value="Edit Group">
    </div>
  </form>
{% endblock %}
