{% extends "groups/base.html" %}
{% block body_id %}group-list{% endblock %}
{% load paginator_tags %}
{% load bookmark_tags %}

{% block content %}
  <section class="group-list">
    {% for group in groups.object_list %}
      <article class="group"><div>
        <div class="img"><img src="{{ group.logo_url }}" height="100" class="logo"></div>
        <h2><a href="{{ group.get_absolute_url }}">{{ group }}</a></h2>

        <ul class="stats">
          <li>{{ group.member_count }} members</li>
          <li>{{ group.hunch_count }} hunches</li>
        </ul>

        {% bookmarks group %}
      </div></article>
    {% endfor %}
  </section>

  <div class="links">
    <ul>
      <li><a href="{% url create_group %}">Add a Group</a></li>
    </ul>

    {% paginator groups %}
  </div>
{% endblock %}