{% extends "groups/base.html" %}
{% load paginator_tags %}
{% load bookmark_tags %}

{% block header %}
  {{ block.super }}
  <h1>Show a Group</h1>
{% endblock %}

{% block content %}
  <div id="group-show">
    <div class="group">
      <div class="info">
        <img src="{{ group.logo.url }}" width="400">

        <h1>{{ group }}</h1>
        <div class="right">
          {% bookmarks group %}
        </div>
        <!--<ul class="tags">
          <li>Alpha</li>
          <li>Beta</li>
          <li>Gamma</li>

          {% for tag in group.tags.all %}
            <li>{{ tag }}</li>
          {% endfor %}
        </ul>-->
        <ul>
          {% if is_member %}
            <li><a href="{% url leave_group group.pk %}">Leave</a></li>
          {% else %}
            <li><a href="{% url join_group group.pk %}">Join</a></li>
          {% endif %}
        </ul>

        {% if group.description %}
          <div class="desc">
            {{ group.description|safe }}
          </div>
        {% endif %}
      </div>
      <div class="clear-hack"></div>
      <div class="left">
        <h2>Members of {{ group }}</h2>
        <div class="members">
          {% for member in group.members.all %}
            <div class="member">
              <a href="{{ member.get_absolute_url }}">
                <img src="{{ member.profile_picture_url }}" width="110">
                <span>{{ member }}</span>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="right">
        <h2>Hunches involving members</h2>
        <div class="hunches">
          {% if hunches %}
            {% include "includes/hunches/list.html" with object_list=hunches %}
          {% else %}
            {% block empty %}{% endblock %}
          {% endif %}
        </div>
        <div class='viewMore'>
          <a href='{% url group_hunches group.pk %}'>View More</a>
        </div>
        <div class="clear-hack"></div>
      </div>
      <div class="clear-hack"></div>
    </div>
    <div class="clear-hack"></div>

    <div class="links">
      <ul>
        <li><a href="{% url edit_group group.pk %}">Edit this Group</a></li>
      </ul>
      {% paginator group_members %}
      <div class="clear-hack"></div>
    </div>
  </div>
{% endblock %}