{% extends "groups/base.html" %}
{% load paginator_tags %}

{% block header %}
  {{ block.super }}
  <h1>Show a Group</h1>
{% endblock %}

{% block content %}
  <div id="group-show">
    <div class="group">
      <div class="info">
        <img src="{{ group.logo_url }}" width="400">

        <h1><a href="{% url groups %}">{{ group }}</a></h1>
        <ul class="tags">
          <li>Alpha</li>
          <li>Beta</li>
          <li>Gamma</li>

          {% for tag in group.tags.all %}
            <li>{{ tag }}</li>
          {% endfor %}
        </ul>
        <ul>
          {% if is_member %}
            <li><a href="{% url leave_group group.pk %}">Leave</a></li>
          {% else %}
            <li><a href="{% url join_group group.pk %}">Join</a></li>
          {% endif %}
        </ul>

        {% if group.description %}
          <div class="desc">
            {{ group.description|safe }}
          </div>
        {% endif %}
      </div>
      <div class="clear-hack"></div>
      <div class="left">
		<h2>Members of {{ group }}</h2>
		<div class="members">
		  {% for member in group.members.all %}
			<div class="member">
			  <a href="{{ member.get_absolute_url }}">
				<img src="{{ member.profile_picture_url }}" width="110">
				<span>{{ member }}</span>
			  </a>
			</div>
		  {% endfor %}
		</div>
	  </div>
	  <div class="right">
	    <h2>Hunches involving members</h2>
		<div class="hunches">
		  {% for hunch in hunches %}
			<div class="hunch"><div>
			  <h3><a href="{{ hunch.get_absolute_url }}">{{ hunch }}</a></h3>
	  
			  {% if hunch.description %}
				<div class="desc">
				  {{ hunch.description|truncatewords:60|safe }}
				</div>
			  {% endif %}
	  
			  <ul class="stats">
				<li>{{ hunch.member_count }} members</li>
				<li>{{ hunch.evidence_count }} evidence</li>
			  </ul>
	  
			  <div class="clear-hack"></div>
			</div></div>
		  {% endfor %}
		  <div class="clear-hack"></div>
		</div>
		<div class='viewMore'>
		  <a href='{% url group_hunches group.pk %}'>View More</a>
		</div>
	  </div>
	</div>
	<div class="clear-hack"></div>

    <div class="links">
      <ul>
        <li><a href="{% url edit_group group.pk %}">Edit this Group</a></li>
      </ul>
      {% paginator group_members %}
      <div class="clear-hack"></div>
    </div>
  </div>
{% endblock %}