{% load bookmark_tags %}

<article class="short hunch">
  <div class="left">
    <h2><a href="{{ object.get_absolute_url }}">{{ object }}</a></h2>

    {% if object.description %}
      <section class="desc">
        {{ object.description|truncatewords:60|safe }}
      </section>
    {% endif %}

    <ul class="stats">
      <li>{{ object.member_count }} members</li>
      <li>{{ object.evidence_count }} evidence</li>
    </ul>
  </div>
  <div class="right">
    {% bookmarks object %}
  </div>
</article>
