{% load bookmark_tags %}

<article class="short hunch" data-id="{{ object.id }}">
  <h3><a href="{{ object.get_absolute_url }}">{{ object }}</a></h3>

  <section class="desc">
    <p>{{ object.description|truncatewords:60 }}</p>
  </section>

  <ul class="stats">
    <li>
      Created by <a href="{{ object.creator.get_absolute_url }}">{{ object.creator }}</a>
      <time class="timeago" datetime="{{ object.time_created|date:"c" }}">{{ object.time_created }}</time>
    </li>

    <li>{{ object.contributors.count }} contributors</li>
    <li>{{ object.evidence_count }} evidences</li>
  </ul>

  {% bookmarks object %}
</article>
