{% load bookmark_tags %}

<article class="short hunch">
  <div class="left">
    <h2><a href="{{ hunch.get_absolute_url }}">{{ hunch }}</a></h2>

    {% if hunch.description %}
      <section class="desc">
        {{ hunch.description|truncatewords:60|safe }}
      </section>
    {% endif %}

    <ul class="stats">
      <li>{{ hunch.member_count }} members</li>
      <li>{{ hunch.evidence_count }} evidence</li>
    </ul>
  </div>
  <div class="right">
    {% bookmarks hunch %}
  </div>
</article>