{% load bookmark_tags %}

<article class="short group"><div>
  {% if object.logo %}
    <div class="img"><img src="{{ object.logo.url }}" height="98" class="logo"></div>
  {% endif %}

  <h2><a href="{{ object.get_absolute_url }}">{{ object }}</a></h2>

  <ul class="stats">
    <li>{{ object.member_count }} members</li>
    <li>{{ object.hunch_count }} hunches</li>
  </ul>

  {% if show_join_link %}
    <ul class="links">
      <li><a href="{% url join_group object.pk %}" class="join">Join</a></li>
    </ul>
  {% endif %}

  {% bookmarks object %}
</div></article>
