{% load bookmark_tags %}

<article class="group short" data-id="{{ object.id }}">
  <h3><a href="{{ object.get_absolute_url }}">{{ object }}</a></h3>

  {% if object.logo %}
    <div class="image">
      <img src="{{ object.logo.url }}">
    </div>
  {% endif %}

  {% include "includes/users/list.html" with object_list=object.members.all %}

  <ul class="stats">
    <li>{{ object.member_count }} members</li>
    <li>{{ object.hunch_count }} hunches</li>
  </ul>

  {% if show_join_link %}
    <ul class="links">
      <li><a href="{% url join_group object.pk %}" class="join">Join</a></li>
    </ul>
  {% endif %}

  {% bookmarks object %}
</article>
