<ul class="paginator" id="{{ dom_id }}">{% if prev_page_link %}
  <li><a href="{{ first_page_link }}" class="first" title="First page">First Page</a></li>
  <li><a href="{{ prev_page_link }}" class="prev" title="Previous page">Previous Page</a></li>{% else %}
  <li><span class="first" title="You are already on the first page">First Page</span></li>
  <li><span class="prev" title="There are no previous pages">Previous Page</span></li>{% endif %}

  {% for page in page_links %}{% if page %}
  <li><a href="{{ page.link }}"{% if page.active %} class="active"{% endif %} title="Page {{ page.number }}">{{ page.number }}</a></li>{% else %}
  <li><span class="elipsis">...</span></li>{% endif %}{% endfor %}{% if next_page_link %}

  <li><a href="{{ next_page_link }}" class="next" title="Next page">Next Page</a></li>
  <li><a href="{{ last_page_link }}" class="last" title="Last page">Last Page</a></li>{% else %}

  <li><span class="next" title="There are no more pages">Next Page</span></li>
  <li><span class="last" title="You are already on the last page">Last Page</span></li>{% endif %}
</ul>
