{% extends "explore/base.html" %}

{% block body_id %}explore{% endblock %}

{% block title %}
  Explore Data &mdash;
  {{ block.super }}
{% endblock %}

{% block header %}
  {{ block.super }}
  <h1>Explore Data</h1>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}

{% block content %}
  {% if show_graph %}
    <section class="graph">
      <div class="worldbank-chart" data-x-axis="Year" data-y-axis="Data" data-data="{{ flat_data }}"></div>
      <p class="create-evidence"><a href="{{ create_evidence_url }}">Save This Chart as Evidence</a></p>
    </section>
  {% endif %}

  <form action="" method="get">
    {% if not show_graph %}
      <section class="help_text">
        <p>
          Search <a href="http://data.worldbank.org/">The World Bank</a>'s data
          catalog to find evidence to support (or refute) your hunches.
        </p>
      </section>
    {% endif %}

    {{ form.non_field_errors }}

    <div class="fields">
      {% for field in form %}
        {% include "includes/fields/base.html" %}
      {% endfor %}
    </div>

    <script>
      $(document).ready(function() {
        $("#id_indicator").tokenInput( {{ indicators|safe }}, {
          prePopulate: {{ indicators_prepop|safe }},
          tokenLimit: 1,
          searchDelay: 500,
          minChars: 3
        });
        $("#id_country").tokenInput( {{ countries|safe }}, {
          prePopulate: {{ countries_prepop|safe }},
          tokenLimit: 4,
          minChars: 2
        });
      });
    </script>

    <div class="actions">
      <input type="submit" value="Preview">
    </div>
  </form>
{% endblock %}