{% extends "albums/base.html" %}
{% load paginator_tags %}
{% load bookmark_tags %}

{% block content %}
  {% if albums.object_list %}
    <section class="album-list">
      {% for album in albums.object_list %}
        <article class="album">
          <h2><a href="{{ album.get_absolute_url }}">{{ album }}</a></h2>

          {% if album.description %}
            <div class="desc">
              {{ album.description|truncatewords:60|safe }}
            </div>
          {% endif %}
      
          {% bookmarks album %}
        </article>
      {% endfor %}
    </section>
  {% else %}
    <div class="empty-list">
      No albums have been created yet.
    </div>
  {% endif %}

  <div class="links">
    <ul>
      <li><a href="{% url create_album %}">Add an Album</a></li>
    </ul>
    {% paginator albums %}
    <div class="clear-hack"></div>
  </div>
{% endblock %}