{% extends "albums/base.html" %}
{% load paginator_tags %}
{% load bookmark_tags %}

{% block content %}
  <h2>All <span>Albums</span></h2>

  {% if albums.object_list %}
    <section class="object-list album">
      {% for object in albums.object_list %}
        <article class="album short" data-id="{{ object.id }}">
          <h3><a href="{{ object.get_absolute_url }}">{{ object }}</a></h3>

          <section class="desc">
            <p>{{ object.description|truncatewords:100 }}</p>
          </section>

          <ul class="stats">
            <li>
              Created by <a href="{{ object.creator.get_absolute_url }}">X</a>
              <time class="timeago" datetime="{{ object.time_created|date:"c" }}">Y days ago</time>
            </li>
          </ul>

          {% bookmarks object %}
        </article>
      {% endfor %}
    </section>
  {% else %}
    <div class="empty-list">
      No albums have been created yet.
    </div>
  {% endif %}
{% endblock %}

{% block links %}
  <nav class="links">
    <ul>
      <li><a href="{% url create_album %}">Add an Album</a></li>
    </ul>

    {% paginator albums %}
  </nav>
{% endblock %}
