{% extends "albums/base.html" %}
{% load paginator_tags %}
{% load bookmark_tags %}

{% block content %}
  <section class="album-list">
    {% for album in albums.object_list %}
	  <article class="album">
		<div class="left">
		  <h2>
			<a href="{{ album.get_absolute_url }}">{{ album }}</a>
		  </h2>
		  {% if album.description %}
            <div class="desc">
              {{ album.description|truncatewords:60|safe }}
            </div>
          {% endif %}
		</div>
		<div class="right">
		  {% bookmarks album %}
		</div>
	  </article>
	{% endfor %}
  </section>
  <div class="links">
	<ul>
	  <li><a href="{% url create_album %}">Add an Album</a></li>
	</ul>
	  {% paginator albums %}
	<div class="clear-hack"></div>
  </div>
{% endblock %}