{% extends "albums/base.html" %}

{% block content %}
  <div id="album-show">
	<h1><a href="{{ album.get_absolute_url }}">{{ album }}</a></h1>


	<div class="evidence">
	  <ul>
		{% for evidence in album.evidences.all %}
		  <li class="tweet">
			<h3>&quot;{{ evidence }}&quot;</h3>
			<div class="embed">
			  <a href="{{ evidence.link }}">{{ evidence.link }}</a>
			</div>
			<ul class="meta">
			  <li class="source"><span>Source</span> <a href="{{ evidence.link }}">{{ evidence.short_link }}</a></li>
			  <li class="date"><span>Posted</span> {{ evidence.time_created|date:"j F Y" }}</li>
			  <li class="creator"><span>By</span> <a href="{{ evidence.creator.get_absolute_url }}">{{ evidence.creator }}</a></li>
			</ul>
			<div class="clear-hack"></div>
		  </li>
		{% endfor %}
	  </ul>
	</div>
	<script>
	  $(function() {
		$("div.evidence div.embed a").each(function() {
		  $(this).embedly({
			"key": window.hunchworks.embedly_key,
			"maxWidth": $(this).parent().width()
		  });
		});
	  });
	</script>
  </div>
{% endblock %}