{% extends "albums/base.html" %}
{% load bookmark_tags %}

{% block header %}
  {{ block.super }}
  <h1>Show an Album</h1>
{% endblock %}

{% block content %}
  <section class="album-show">
    <article class="album">
      <div class="left">
        <h2>{{ album }}</h2>
      </div>
      <div class="right">
        {% bookmarks album %}
      </div>
        {% for evidence in album.evidences.all %}
        <article class="evidence">
          <header>
            <a href="{{ evidence.link }}" class="embed">{{ evidence.link }}</a>
            <h1><a href="{{ evidence.get_absolute_url }}">{{ evidence }}</a></h1>
      
            {% if evidence.description %}
              <section class="desc">
                {{ evidence.description|truncatewords:60|safe }}
              </section>
            {% endif %}
          </header>
      
          <!--<ul class="meta">
            <li class="source"><span>Source:</span> <a href="{{ evidence.link }}">{{ evidence.short_link }}</a></li>
            <li class="date"><span>Posted:</span> {{ evidence.time_created|date:"j F Y" }}</li>
            <li class="creator"><span>By:</span> <a href="{{ evidence.creator.get_absolute_url }}">{{ evidence.creator }}</a></li>
          </ul>-->
      
          {% bookmarks evidence %}
        </article>
      {% endfor %}
    </article>
  </section>
  <script>
    $(function() {
      $("a.embed").each(function() {
        $(this).embedly({
          "key": window.hunchworks.embedly_key,
          "maxWidth": $(this).parent().width(),
          "embedly_wmode": "transparent"
        });
      });
    });
  </script>
  <div class="links">
    <ul>
      <li><a href="{% url edit_album album.pk %}">Edit this Album</a></li>
    </ul>
    <div class="clear-hack"></div>
  </div>
</div>
{% endblock %}