body {
  padding: 0 1em;
  background: #eee url("../../img/bg.png");
  color: #333;
}

a {
  text-decoration: underline;
  color: inherit;
}

#wrapper, footer {
  max-width: 960px;
  min-width: 650px;
  margin: 0 auto;
}

#wrapper {
  border: 1px solid #ccc;
  border-top: none;
  position: relative;
}

  #wrapper > header {
    overflow: hidden;
    padding: 1em;

    background: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff');
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background: -moz-linear-gradient(top,  #eee,  #fff);
  }

    #wrapper > header > h1 {
      float: left;
      font-size: 200%;
      margin-right: 0.5em;
      padding-right: 0.5em;
      border-right: 1px dotted #ccc;
      font-weight: bold;
      color: #000;
    }

      #wrapper > header > h1 > a {
        text-decoration: none;
      }

    #wrapper > header > h1:last-child {
      border-right: none;
      margin-right: 0;
      padding-right: 0;
    }

  #page {
    background: #fff;
    position: relative;
  }

    #page div.links {
      overflow: hidden;

      background: #eee;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff');
      background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
      background: -moz-linear-gradient(top,  #eee,  #fff);
    }

      #page div.links ul {
        float: right;
        overflow: hidden;
      }

        #page div.links li {
          display: block;
          float: left;
          border-right: 2px solid #fff;
        }

          #page div.links ul a {
            display: block;
            padding: 1em;
          }

        #page div.links li:last-child {
          border-right: none;
        }

footer {
  padding: 2em 0;
  color: #aaa;
}

  footer > p {
    padding-left: 2em;
    line-height: 1.4;
  }

  footer > p.opensource {
    text-align: right;
    float: right;
    padding-right: 2em;
    padding-left: 0;
  }
