/*= global/base.scss */

body {
  font-family: $font-family-sans;
  font-size: $font-size;
  line-height: $line-height;
  background: url(../../img/bg.png);

  html.debug & {
    background: url(../../img/dev/baseline-#{$line-height}.png);
  }
}

html, body, div, p,
h1, h2, h3, h4, h5, h6,
ul, ol, li,
blockquote,
form, legend, label, input, textarea, select, button,
section, article, aside, nav, header, footer,
table, tr, th, td {

  /* Reset spacing. */
  margin: 0;
  padding: 0;

  /* Use border-box everywhere! This might be a horrible idea (it's the first
  |* time I've tried it) because of unforseen consequences, but so far, it's
  |* just reducing complexity. Long live the Internet Explorer box model. */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

h2, p, blockquote {
  margin: $line-height 0;
  
  &:first-child { margin-top: 0; }
  &:last-child  { margin-bottom: 0; }
}

p {
  html.debug & {
    background: rgba(255, 255, 0, 0.1);
  }
}

li {
  margin-left: 1.5em;
}

/* Disable bullets when list items are being used as nav lists (which they almost
|* exclusively are, in HunchWorks). */
nav li {
  display: block;
  margin-left: 0;
}

h1, h2, h3, h4 {
  font-size: 100%;
  
  a {
    text-decoration: none;
  }
}

h1 {
  font-size: $font-size * 3;
  line-height: $line-height * 3;
  font-weight: normal;

  html.debug & {
    background: rgba(255, 0, 0, 0.1);
  }
}

h2 {
  font-size: $font-size * 1.5;
  line-height: $line-height * 2;
  font-weight: normal;

  /* Hack: WebKit sets the element height to (line-height + 1px). O_o */
  height: $line-height * 2;
  overflow: hidden;

  text-align: center;
  color: #999;

  html.debug & {
    background: rgba(0, 255, 0, 0.1);
  }

  span {
    font-weight: bold;
    color: #000;
  }
}

h3 {
  font-size: $font-size * 1.2;
  line-height: $line-height * 2;
  font-weight: normal;

  html.debug & {
    background: rgba(0, 0, 255, 0.1);
  }
}

h4 {
  position: absolute;
  @include hide-text;
}

blockquote {
  margin-left: $spacing;
  margin-right: $spacing;
}

/* Since the HunchWorks UI is mainly data, not prose, I find myself setting
|* images to block pretty much everywhere. */
img {
  display: block;
  border: none;
}

/* Link are *everywhere* in HunchWorks, so I'm making them invisible until
|* hover by default. In prose, they should be highlighted as usual. */
a {
  /*text-decoration: none;*/
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}
