div.empty-list {
  padding: 2em 0;
  background: #f8f8f8;
  border: 1px solid #eee;
  text-align: center;
  font-style: italic;
  color: #999;
}

/* If a page consists solely of an empty list (e.g. the My Hunches page when a
|* user does not have any hunches). */
#page > div.empty-list {
  padding: 8em 0;
  background: none;
  border: none;
}