@import "../hunchworks.scss";

nav.user,
nav.site {

  > ul {
    overflow: hidden;
    padding: $spacing/4;

    > li {
      display: block;
      float: left;
      border-radius: $spacing/4;
      -moz-border-radius: $spacing/4;
      margin-right: 1px;
      color: #666;

      /* Reserve space for the active/hover border. */
      padding: 1px;

      > a {
        display: block;
        padding: $spacing/2;
        text-decoration: none;
      }

      &.active, &:not(.active):hover {
        background: #eee;
        border: 1px solid #ccc;
        padding: 0;
      }

      &.active {
        background: #fff;
        color: #000;
      }
    }
  }
}

nav.user {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 80%;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: $spacing/2;

  background: #eee;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd');
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background: -moz-linear-gradient(top,  #fff,  #ddd);

  > ul {
    padding: 1px;
  }

  li.avatar {
    img {
      display: block;
      border-radius: $spacing/4;
    }

    /* Disable hover effect. */
    &:hover {
      background: none !important;
      border: none !important;
      padding: 1px !important;
    }
  }
}

nav.site {
  position: relative;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #aaa;

  background: #ddd;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc');
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
  background: -moz-linear-gradient(top,  #eee,  #ccc);

  > ul {

    &.secondary {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

nav.tabs {

  > ul {
    border-bottom: 1px solid #ccc;
    padding-left: $spacing*2;

    /* To force the last pixel of the nested <li>s to overlap the bottom
    |* border, the TOTAL height is 1em (line height of > li > a) + $spacing
    |* (vertial padding of > li > a) + 1px (border top of > li). */
    padding-bottom: $spacing + 1px;
    height: 1em;

    > li {
      display: block;
      float: left;
      margin-right: $spacing/2;
      border: 1px solid #bbb;
      border-radius: $spacing/4 $spacing/4 0 0;
      background: #fff;

      > a {
        display: block;
        padding: $spacing/2;
        text-decoration: none;
        color: #999;

        > span {
          background: #eee;
          padding: 0 $spacing/4;
          color: #a8a8a8;
        }
      }

      &.active {
        border-bottom-color: #fff;

        > a {
          color: inherit;
        }
      }
    }
  }
}
