@import "../hunchworks.scss";

html { }

body {
  line-height: 1;
}

html, body, div, p,
h1, h2, h3, h4, h5, h6,
ul, ol, li,
blockquote,
form, fieldset, legend, input, textarea, select, button,
th, td { 
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

fieldset, img {
  border: 0;
}

section, article, nav, header, footer {
  display: block;
}
