{% load bookmark_tags %}
{% load embed_tags %}
{% load markup %}

<article class="evidence full">
  {% if object.link %}
    {% embed object.link %}
  {% endif %}

  <h3><a href="{{ object.get_absolute_url }}">{{ object }}</a></h3>

  <section class="desc">
    {{ object.description|markdown }}
  </section>

  <!--<ul class="meta">
    <li class="source"><span>Source:</span> <a href="{{ evidence.link }}">{{ evidence.short_link }}</a></li>
    <li class="date"><span>Posted:</span> {{ evidence.time_created|date:"j F Y" }}</li>
    <li class="creator"><span>By:</span> <a href="{{ evidence.creator.get_absolute_url }}">{{ evidence.creator }}</a></li>
  </ul>-->

  {% bookmarks object %}
</article>
