{% load bookmark_tags %}

<article class="evidence short" data-id="{{ object.id }}">
  <!--<a href="{{ object.link }}" class="embed">{{ object.link }}</a>-->
  <h2><a href="{{ object.get_absolute_url }}">{{ object }}</a></h2>

  {% if object.description %}
    <section class="desc">
      {{ object.description|truncatewords:60|safe }}
    </section>
  {% endif %}

  <ul class="stats">
    <li>Supporting 10 hunches</li>
    <li>Refuting 5 hunches</li>
  </ul>

  {% bookmarks object %}
</article>
