{% load bookmark_tags %}

<article class="evidence" data-id="{{ evidence.id }}">
  <a href="{{ evidence.link }}" class="embed">{{ evidence.link }}</a>
  <h2><a href="{{ evidence.get_absolute_url }}">{{ evidence }}</a></h2>

  {% if evidence.description %}
    <section class="desc">
      {{ evidence.description|truncatewords:60|safe }}
    </section>
  {% endif %}

  <ul class="stats">
    <li>Used in {{ evidence.hunch_set.all.count }} hunches</li>
  </ul>

  {% bookmarks evidence %}
</article>
