/*= forms/base.scss */

.form-widget {
  @include border-radius(4px);
  @include box-shadow(1px 1px 2px #eee);

  display: block;
  width: 100%;

  font: inherit;
  clear: both;
  background: #fffff8;
  border: $pinstripe-width solid #aaa;
  padding: ($line-height / 2) ($spacing / 2);
  margin: (($line-height / 2) - $pinstripe-width) 0;
  color: #666;

  &:focus, &.focus {
    outline: none;
    background-color: #ffe;
    border-color: #999;
    color: #333;
  }
}

.form-button {
  @include border-radius(5px);
  @include vertical-gradient(#eee, #ccc);
  display: inline-block;
  width: auto;

  outline: none;
  cursor: pointer;
  text-align: center;
  padding: ($line-height / 2) $spacing;
  margin: 0 - $pinstripe-width;

  color: #666;
  text-shadow: 0 0 3px #fff;
  border-color: #bbb;
}

input, textarea, select, button, a.button {
  @extend .form-widget;
}

textarea {
  resize: vertical;
}

button, input[type=submit], input[type=button], a.button {
  @extend .form-button;
}

form {

  /* Errors not related to any particular field. */
  /*> ul.errorlist {
    margin-bottom: 1em;
    background-color: #fee;
    color: #f44;

    > li {
      list-style: none;
      padding: 1em;
    }
  }

  > section.help_text {
    padding: 2em;
    background-color: #efe;
    border-bottom: 1px dotted #6c6;
    color: #090;

    > p {
      line-height: $line_height;
    }
  }*/

  div.fields {
    padding: $line-height $spacing;
    @include clear-floats;

    div.left {
      float: left;
      width: 60%;
    }

    div.right {
      float: left;
      width: 40%;
      padding-left: $spacing;
    }
  }

  div.field {

    /* The contents of this div should always end up aligned with the vertical
    |* grid, but we can't be sure whether that will be due to the content, or
    |* to the bottom margin of the last element. So I'm using padding to space
    |* out fields here (even though margins would make more sense), to avoid
    |* the margins collapsing. */
    padding-bottom: $line-height;

    &:last-child {
      padding-bottom: 0;
    }

    div.label {
      @include clear-floats;

      label, span {
        display: block;
        float: left;
      }

      label {
        font-weight: bold;
      }

      span {
        font-size: $font-size * 0.75;
        padding-left: $spacing / 2;
        color: #999;
      }
    }

    p.help {
      font-size: $font-size * 0.75;
      border-left: ($spacing / 4) solid #eee;
      padding-left: $spacing / 4;
      margin: 0;
      color: #999;
    }
  }

  div.field.errors {

    ul.errorlist {
      float: right;
      margin-top: (0 - $line-height);
      color: #f44;

      li {
        font-weight: normal;
        list-style: none;
        margin-left: 0;
      }
    }

    input, textarea, select, ul.token-input-list, div.embed-widget {
      background-color: #fee;
      border-color: #c66;
      color: #000;
    }
  }

  div.actions {
    @include vertical-gradient(#eee, #fff);
    @include clear-floats;
    padding: $line-height $spacing;
    clear: both;

    input, button {
      margin-left: $spacing;
      float: right;
      clear: none;
    }
  }
}
