form { }

  /* Errors not related to any particular field. */
  form > ul.errorlist {
    border: 2px solid #e05b52;
    border-radius: 5px;
    background: #fee;
    margin-bottom: 1em;
  }

    form > ul.errorlist > li {
      list-style: none;
      padding: 1em;
    }


  form > div.fields {
    padding: 2em;
    overflow: hidden;
  }

    form > div.fields div.field {
      margin-bottom: 2em;
    }

      form > div.fields div.field:last-child {
        margin-bottom: 0;
      }

    /* Many forms are split into two columns. Usually, the important fields are
    |* on the left, and the supplementary fields are on the right. */
    form > div.fields > div.left,
    form > div.fields > div.right {
      float: left;
    }

    form > div.fields > div.left {
      width: 60%;
    }

    form > div.fields > div.right {
      width: 40%;
      box-sizing: border-box;
      padding-left: 2em;
    }


  form div.field { }

    div.label {
      margin-bottom: 0.5em;
      float: left;
    }

      div.label label {
        font-weight: bold;
      }

      form div.field div.label span {
        font-size: 80%;
        color: #999;
      }

    input, textarea, select, ul.token-input-list {
      display: block;
      font: inherit;
      clear: both;
      width: 100%;
      box-sizing: border-box;
      border: 2px solid #999;
      background: #fffff8;
      border-radius: 3px;
      padding: 1em;
      color: #666;
    }

      input:focus,
      textarea:focus,
      select:focus {
        outline: none;
        background-color: #ffe;
        border-color: #666;
        color: #333;
      }
      
      textarea {
        resize: vertical;
      }

    input[type=submit],
    input[type=button] {
      width: auto;
      border-radius: 5px;
      font-weight: bold;
      background: #aaa;
      color: #fff;
    }

    form div.field p.help {
      font-size: 80%;
      max-width: 40em;
      line-height: 1.2;
      margin-top: 0.625em;
      border-left: 0.625em solid #eee;
      padding-left: 0.625em;
      color: #999;
    }

  form div.field.errors { }

    form div.field.errors ul.errorlist {
      float: right;
      margin: 0 0 0.5em 0;
      color: #f44;
    }

      form div.field.errors ul.errorlist li {
        font-weight: normal;
        list-style: none;
      }

    form div.field.errors input,
    form div.field.errors textarea,
    form div.field.errors select,
    form div.field.errors ul.token-input-list {
      background-color: #fee;
      border-color: #c66;
      color: #000;
    }


  form > div.actions {
    overflow: hidden;
    clear: both;
    padding: 1em;

    background: #eee;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff');
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background: -moz-linear-gradient(top,  #eee,  #fff);
  }
  
    form > div.actions > input {
      display: inline-block;
      margin-left: 0.5em;
      float: right;
      clear: none;
    }