@import "../hunchworks.scss";

form.evidence {

  #id_title {
    font-size: 125%;
    padding: 0.8em;
  }

  div.field.link {

    > div.preview {
      border: 2px solid #999;
      background: #eee;
      border-radius: 3px;
      -moz-border-radius: 3px;
      margin-top: 1em;

      embed, img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}
